<!doctype html>
<html class="no-js" lang="en">

<head th:replace="../elements/header (title=#{locales.report})" />

<body id="backend">
	<div class="container">
		<nav th:replace="../elements/navbar" />
		<section class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div th:text="#{locales.report}" class="panel-heading" />
					<div class="panel-body form-horizontal">
						<div th:replace="../elements/fields :: view('format', ${format}, '', false)" />
						<div th:replace="../elements/fields :: view('quotes', ${#maps.size(quotes)}, '', false)" />
						<div th:replace="../elements/fields :: view('errors', ${#maps.size(errors)}, '', false)" />
					</div>
				</div>
			</div>
		</section>
		<section th:unless="${#maps.isEmpty(quotes)}" class="row">
			<div class="col-md-12">
				<div class="panel panel-success">
					<div th:text="#{fields.quotes}" class="panel-heading" />
					<table class="table table-hover">
						<thead>
							<tr>
								<th th:text="#{fields.id}"/>
								<th th:text="#{fields.quote}" />
								<th th:text="#{fields.language}" />
								<th th:text="#{fields.schedule}"  />
								<th th:text="#{fields.corpus}" />
								<th th:text="#{fields.source}" class="text-center" />
								<th th:text="#{fields.meta}" />
							</tr>
						</thead>
						<tbody>
							<tr th:each="quote : ${quotes}" th:with="slug=${quote.value.quote.work.author.slug} + '_' + ${quote.value.quote.work.slug} + '_' + ${quote.value.quote.id}">
								<th th:text="'#' + ${quote.value.id}" />
								<td><a th:href="@{/tiwolij/quotes/view(quoteId=${quote.value.quote.id})}" th:text="${#strings.abbreviate(slug, 25)}" /></td>
								<td th:text="${quote.value.language}" />
								<td th:text="${quote.value.schedule}" />
								<td th:text="${#strings.abbreviate(quote.value.corpus, 50)}" />
								<td class="text-center"><a th:unless="${#strings.isEmpty(quote.value.href)}" th:text="#{actions.view}" th:href="${quote.value.href}" target="_blank" /></td>
								<td th:text="${quote.value.meta}" />
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>
		<section class="row" th:unless="${#maps.isEmpty(errors)}">
			<div class="col-md-12">
				<div class="panel panel-danger">
					<div th:text="#{fields.errors}" class="panel-heading" />
					<table class="table table-hover">
						<thead>
							<tr>
								<th th:text="#{fields.error}"/>
								<th th:text="#{fields.line}" />
							</tr>
						</thead>
						<tbody>
							<tr th:each="error : ${errors}">
								<th th:text="${error.value.message}" />
								<td th:text="${error.key}" class="small" />
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>
	</div>
	<footer th:replace="../elements/footer" />
</body>

</html>
