<!doctype html>
<html class="no-js" lang="en">

<head th:replace="../elements/blocks :: header(title=#{data.import.quotes})" />

<body id="backend">
	<div class="container">
		<nav th:replace="../elements/navbar" />
		<section class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div th:text="#{data.import.quotes}" class="panel-heading" />
					<form enctype="multipart/form-data" class="form-horizontal" method="post">
						<div class="panel-body">
							<div th:replace="../elements/fields :: fieldInput('file', true, 'file', '', '')" />
							<div th:replace="../elements/fields :: fieldSelect('encoding', true, ${encodings}, '', '')" />
							<div th:replace="../elements/fields :: fieldSelect('format', true, ${formats}, '', '')" />
							<div th:replace="../elements/fields :: fieldCheckbox('wikidata')" />
							<div th:replace="../elements/fields :: fieldCheckbox('heideltag')" />
							<div th:replace="../elements/fields :: fieldCheckbox('levensthein')" />
							<div th:replace="../elements/fields :: fieldCheckbox('review')" />
							<div th:replace="../elements/fields :: fieldSelect('forcelang', false, ${languages}, '', '')" />
						</div>
						<div class="panel-footer text-right">
							<button id="submit" th:text="#{data.import.quotes}" th:formaction="@{/tiwolij/data/import/tsv}" type="submit" class="btn btn-sm btn-success" />
						</div>
					</form>
				</div>
			</div>
		</section>
	</div>
	<footer th:replace="../elements/blocks :: footer" />
</body>

</html>
