<!doctype html>
<html class="no-js" lang="en">

<head th:replace="../elements/blocks :: header(title=#{data.import.report})" />

<body id="backend">
	<div class="container">
		<nav th:replace="../elements/navbar" />
		<section th:replace="../elements/lists :: listErrors(${errors})" />
		<section th:replace="../elements/lists :: listQuotes(${quotes}, ${new String[] {'language', 'schedule', 'corpus', 'source', 'meta'}}, '')" />
	</div>
	<footer th:replace="../elements/blocks :: footer" />
</body>

</html>
