<!doctype html>
<html class="no-js" lang="en">

<head th:replace="../elements/blocks :: header(title=#{data.import.review})" />

<body id="backend">
	<div class="container">
		<nav th:replace="../elements/navbar" />
		<section th:replace="../elements/lists :: listErrors(${errors})" />
		<section th:unless="${#maps.isEmpty(results)}" class="row">
			<div class="col-md-12">
				<div class="panel panel-success">
					<div th:text="#{fields.quotes}" class="panel-heading" />
					<form th:object="${locale}" class="form-horizontal" method="post">
						<table class="table table-hover">
							<thead>
								<tr>
									<th th:text="#{actions.save}" />
									<th th:text="#{fields.line}" />
									<th th:text="#{fields.language}" />
									<th th:text="#{fields.schedule}" />
									<th th:text="#{fields.author}" />
									<th th:text="#{fields.work}" />
									<th th:text="#{fields.corpus}" />
									<th th:text="#{fields.source}" class="text-center" />
									<th th:text="#{fields.meta}" />
								</tr>
							</thead>
							<tbody>
								<tr th:each="element : ${results}" th:with="line=${element.key}, quote=${element.value}, work=${element.value.work}, workName=${#strings.abbreviate(element.value.work.slug, 25)}, author=${element.value.work.author}, authorName=${#strings.abbreviate(element.value.work.author.slug, 25)}, year=${#strings.isEmpty(element.value.year)} ? '' : '-' + ${element.value.year}, time=${#strings.isEmpty(element.value.time)} ? '' : ' ' + ${element.value.time}">
									<th><input th:value="${line}" id="lines[]" name="lines[]" type="checkbox" checked="true" /></th>
									<td th:text="${line}" />
									<td th:text="${quote.language}" />
									<td th:text="${quote.schedule} + ${year} + ${time}" />
									<td><a th:remove="${#strings.isEmpty(author.wikidataId)} ? tag" th:href="@{https://www.wikidata.org/wiki/Q} + ${author.wikidataId}" th:text="${authorName}" target="_blank" /></td>
									<td><a th:remove="${#strings.isEmpty(work.wikidataId)} ? tag" th:href="@{https://www.wikidata.org/wiki/Q} + ${work.wikidataId}" th:text="${workName}" target="_blank" /></td>
									<td th:text="${#strings.abbreviate(quote.corpus, 25)}" />
									<td class="text-center"><a th:unless="${#strings.isEmpty(quote.href)}" th:text="#{actions.view}" th:href="${quote.href}" target="_blank" /></td>
									<td th:text="${quote.meta}" />
								</tr>
							</tbody>
						</table>
						<div class="panel-footer text-right">
							<button th:text="#{data.import.locales}" th:formaction="@{/tiwolij/data/import/report}" type="submit" class="btn btn-sm btn-success" />
						</div>
					</form>
				</div>
			</div>
		</section>
	</div>
	<footer th:replace="../elements/blocks :: footer" />
</body>

</html>
