<!doctype html>
<html class="no-js" lang="en">

<head th:replace="../elements/header (title='List of Authors')"></head>

<body id="backend" class="list authors">
	<div id="wrapper">
		<div th:replace="../elements/navbar"></div>
		<div id="inner">
			<table id="list">
				<thead>
					<td>ID <a th:href="@{/tiwolij/authors/list?order=id}">↓</a></td>
					<td>Wikidata ID <a th:href="@{/tiwolij/authors/list?order=wikidataId}">↓</a></td>
					<td>Slug <a th:href="@{/tiwolij/authors/list?order=slug}">↓</a></td>
					<td>Picture</td>
					<td>Name(s)</td>
					<td>Locales</td>
					<td>Works</td>
					<td>Quotes</td>
					<td>Actions</td>
				</thead>
				<tr th:each="author : ${authors}">
					<td>
						<a th:href="@{/tiwolij/authors/view?id=} + ${author.id}" th:text="'#' + ${author.id}"></a>
					</td>
					<td>
						<a target="_blank" th:href="${'https://www.wikidata.org/wiki/' + author.wikidataId}" th:text="${author.wikidataId}"></a>
					</td>
					<td>
						<a th:href="@{/tiwolij/authors/view?id=} + ${author.id}" th:text="${author.slug}"></a>
					</td>
					<td><a th:unless="${#strings.isEmpty(author.picture)}" target="_blank" th:href="@{/img/authors/} + ${author.picture}">Open</a></td>
					<td><span th:each="locale : ${author.locales}" th:text="${locale.name}"></span></td>
					<td><a th:href="@{/tiwolij/authors/locales/list?id=} + ${author.id}">List</a></td>
					<td><a th:href="@{/tiwolij/works/list?author=} + ${author.id}">List</a></td>
					<td><a th:href="@{/tiwolij/quotes/list?author=} + ${author.id}">List</a></td>
					<td>
						<a th:href="@{/tiwolij/authors/view?id=} + ${author.id}">View</a> |
						<a th:href="@{/tiwolij/authors/edit?id=} + ${author.id}">Edit</a> |
						<a th:href="@{/tiwolij/authors/delete?id=} + ${author.id}">Delete</a> |
						<a th:href="@{/tiwolij/authors/locales/edit?author=} + ${author.id}">Add Locale</a>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div th:replace="../elements/scripts"></div>
</body>

</html>
