<!doctype html>
<html class="no-js" lang="en">

<head th:replace="../elements/header (title='Author')"></head>

<body id="backend" class="edit authors">
	<div id="wrapper">
		<div th:replace="../elements/navbar"></div>
		<div id="inner">
			<form th:action="@{/tiwolij/authors/edit/}" th:object="${author}" method="post">
				<input th:disabled="${view}" type="hidden" th:field="*{id}" />
				<table id="edit">
					<tr>
						<td>Wikidata ID</td>
						<td>
							<input th:disabled="${view}" type="text" th:field="*{wikidata_id}" />
						</td>
					</tr>
					<tr>
						<td>Slug</td>
						<td>
							<input th:disabled="${view}" type="text" th:field="*{slug}" />
						</td>
					</tr>
					<tr th:if="${author.id}" th:each="locale : ${author.locales}">
						<td th:text="${locale.language}"></td>
						<td>
							<table class="locale">
								<tr>
									<td>Name</td>
									<td th:text="${locale.name}"></td>
								</tr>
								<tr>
									<td>Weblink</td>
									<td><a target="_blank" th:href="${locale.href}">Open</a></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr th:if="${author.id}">
						<td>&nbsp;</td>
						<td>
							<a th:href="@{/tiwolij/authors/locales/edit?author=} + ${author.id}">Add Locale</a>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>
							<input th:unless="${view}" type="submit" />
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>

	<div th:replace="../elements/scripts"></div>
</body>

</html>
