<!doctype html>
<html class="no-js" lang="en">

<head th:replace="../elements/header (title=#{authors.list})" />

<body>
	<div class="container">
		<nav th:replace="../elements/navbar" />
		<section class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div th:text="#{authors.list}" class="panel-heading" />
					<table th:unless="${#lists.isEmpty(authors)}" class="table table-hover">
						<thead>
							<tr>
								<th><span th:text="#{fields.id}" th:remove="tag"/> <a th:href="@{/tiwolij/authors/list?order=id}"><span class="caret" /></a></th>
								<th><span th:text="#{fields.wikidataid}" th:remove="tag"/> <a th:href="@{/tiwolij/authors/list?order=wikidataId}"><span class="caret" /></a></th>
								<th><span th:text="#{fields.slug}" th:remove="tag"/> <a th:href="@{/tiwolij/authors/list?order=slug}"><span class="caret" /></a></th>
								<th th:text="#{fields.names}" />
								<th th:text="#{fields.image}" class="text-center" />
								<th th:text="#{fields.works}" class="text-center" />
								<th th:text="#{fields.quotes}" class="text-center" />
								<th th:text="#{actions}" class="text-right" />
							</tr>
						</thead>
						<tbody>
							<tr th:each="author : ${authors}">
								<th th:text="'#' + ${author.id}" />
								<td><a th:unless="${#strings.isEmpty(author.wikidataId)}" target="_blank" th:href="'https://www.wikidata.org/wiki/Q' + ${author.wikidataId}" th:text="'Q' + ${author.wikidataId}" /></td>
								<td th:text="${#strings.abbreviate(author.slug, 25)}" />
								<td class="child-enum"><div th:each="locale : ${author.locales}" th:text="${locale.name} + ' (' + ${locale.language} + ')'" /></td>
								<td class="text-center"><a th:unless="${#lists.isEmpty(author.image)}" target="_blank" th:text="#{actions.view}" th:href="@{/image/author(id=${author.id})}" /></td>
								<td class="text-center"><a th:href="@{/tiwolij/works/list(authorId=${author.id})}" th:text="#{actions.list}" /></td>
								<td class="text-center"><a th:href="@{/tiwolij/quotes/list(authorId=${author.id})}" th:text="#{actions.list}" /></td>
								<td class="text-right">
									<a th:text="#{actions.view}" th:href="@{/tiwolij/authors/view(authorId=${author.id})}" role="button" class="btn btn-xs btn-default" />
									<a th:text="#{actions.edit}" th:href="@{/tiwolij/authors/edit(authorId=${author.id})}" role="button" class="btn btn-xs btn-primary" />
									<a th:text="#{actions.delete}" th:href="@{/tiwolij/authors/delete(authorId=${author.id})}" role="button" class="btn btn-xs btn-danger" th:onclick="'return confirm(\'' + #{general.confirm} + '\')'" />
								</td>
							</tr>
						</tbody>
					</table>
					<div th:if="${#lists.isEmpty(authors)}" class="panel-body"><p th:text="#{general.empty}" class="text-danger" /></div>
				</div>
			</div>
		</section>
	</div>
	<footer th:replace="../elements/footer" />
</body>

</html>
