<!doctype html>
<html class="no-js" lang="en">

<head th:replace="../elements/header (title='View Author')" />

<body>
	<div class="container">
		<nav th:replace="../elements/navbar" />
		<section class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div th:text="${'View Author #' + author.id}" class="panel-heading"></div>
					<form th:unless="${#strings.isEmpty(author)}" th:object="${author}">
						<div class="panel-body form-horizontal">
							<div th:unless="${#strings.isEmpty(author.wikidataId)}" class="form-group">
								<label class="col-sm-2 control-label">WikidataId</label>
								<div class="col-sm-10">
									<p class="form-control-static">
										<a th:text="${'Q' + author.wikidataId}" th:href="${'https://www.wikidata.org/wiki/Q' + author.wikidataId}" target="_blank" />
									</p>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Slug</label>
								<div class="col-sm-10">
									<p th:text="${author.slug}" class="form-control-static" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">image</label>
								<div class="col-sm-10">
									<p class="form-control-static">
										<a th:unless="${#lists.isEmpty(author.image)}" th:href="@{/image?id=} + ${author.id}" target="_blank">View</a>
										<span th:if="${#lists.isEmpty(author.image)}" th:remove="tag">None</span>
									</p>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Image Attribution</label>
								<div class="col-sm-10">
									<p th:text="${author.imageAttribution}" class="form-control-static" />
								</div>
							</div>
						</div>
						<div class="panel-footer text-right">
							<a th:href="@{/tiwolij/authors/edit?id=} + *{id}" role="button" class="btn btn-sm btn-primary">Edit Author</a>
							<a th:href="@{/tiwolij/authors/delete?id=} + *{id}" role="button" class="btn btn-sm btn-danger" onclick="return confirm('Are You shure?')">Delete Author</a>
						</div>
					</form>
					<div th:if="${#strings.isEmpty(author)}" class="panel-body">
						<p class="text-danger">Move along, nothing to see here.</p>
					</div>
				</div>
			</div>
		</section>
		<section class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">Author Locales</div>
					<div th:unless="${#lists.isEmpty(author.locales)}" class="panel-body form-horizontal">
						<div th:each="locale : ${author.locales}" class="form-group">
							<label th:text="${locale.language}" class="col-sm-2 control-label" />
							<div class="col-sm-10">
								<p class="form-control-static">
									<a th:text="${locale.name}" th:href="${locale.href}" target="_blank" />
									<a th:href="@{/tiwolij/authors/locales/edit?id=} + ${locale.id}" role="button" class="btn btn-xs btn-primary">Edit</a>
									<a th:href="@{/tiwolij/authors/locales/delete?id=} + ${locale.id}" role="button" class="btn btn-xs btn-danger" onclick="return confirm('Are You shure?')">Delete</a>
								</p>
							</div>
						</div>
					</div>
					<div th:if="${#lists.isEmpty(author.locales)}" class="panel-body">
						<p class="text-danger">Move along, nothing to see here.</p>
					</div>
					<div class="panel-footer text-right">
						<a th:href="@{/tiwolij/authors/locales/create?authorId=} + ${author.id}" role="button" class="btn btn-sm btn-success">Add Locale</a>
					</div>
				</div>
			</div>
		</section>
		<section class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">Authors Works</div>
					<div th:unless="${#lists.isEmpty(author.works)}" class="panel-body">
						TODO
					</div>
					<div th:if="${#lists.isEmpty(author.works)}" class="panel-body">
						<p class="text-danger">Move along, nothing to see here.</p>
					</div>
					<div class="panel-footer text-right">
						<a th:href="@{/tiwolij/works/create?authorId=} + ${author.id}" role="button" class="btn btn-sm btn-success">Add Work</a>
					</div>
				</div>
			</div>
		</section>
	</div>
	<footer th:replace="../elements/footer" />
</body>

</html>
