<!doctype html>
<html class="no-js" lang="en">

<head th:replace="../elements/header (title=#{quotes.edit})" />

<body>
	<div class="container">
		<nav th:replace="../elements/navbar" />
		<section class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div th:text="#{quotes.edit} + ' #' + ${quote.id}" class="panel-heading" />
					<form th:object="${quote}" class="form-horizontal" method="post">
						<div class="panel-body">
							<div th:replace="../elements/fields :: select('work', true, ${works}, 'id', 'slug')" />
						</div>
						<div class="panel-footer text-right">
							<input th:field="*{id}" type="hidden" />
							<button th:text="#{quotes.edit}" th:formaction="@{/tiwolij/quotes/edit}" type="submit" class="btn btn-sm btn-success" />
							<a th:text="#{quotes.delete}" th:href="@{/tiwolij/quotes/delete(quoteId=*{id})}" role="button" class="btn btn-sm btn-danger"
								th:onclick="'return confirm(\'' + #{general.confirm} + '\')'" />
						</div>
					</form>
				</div>
			</div>
		</section>
	</div>
	<footer th:replace="../elements/footer" />
</body>

</html>
