<!doctype html>
<html class="no-js" lang="en">

<head th:replace="../elements/header (title=#{quotes.list})" />

<body>
	<div class="container">
		<nav th:replace="../elements/navbar" />
		<section class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div th:text="#{quotes.list}" class="panel-heading" />
					<table th:unless="${#lists.isEmpty(quotes)}" class="table table-hover">
						<thead>
							<tr>
								<th><span th:text="#{fields.id}" th:remove="tag"/> <a th:href="@{/tiwolij/quotes/list?order=id}"><span class="caret" /></a></th>
								<th><span th:text="#{fields.author}" th:remove="tag"/> <a th:href="@{/tiwolij/quotes/list?order=author}"><span class="caret" /></a></th>
								<th><span th:text="#{fields.work}" th:remove="tag"/> <a th:href="@{/tiwolij/quotes/list?order=work}"><span class="caret" /></a></th>
								<th th:text="#{fields.locales}" />
								<th th:text="#{actions}" class="text-right" />
							</tr>
						</thead>
						<tbody>
							<tr th:each="quote : ${quotes}">
								<th th:text="'#' + ${quote.id}" />
								<td><a th:href="@{/tiwolij/authors/view(authorId=${quote.work.author.id})}" th:text="${#strings.abbreviate(quote.work.author.slug, 25)}" /></td>
								<td><a th:href="@{/tiwolij/works/view(workId=${quote.work.id})}" th:text="${#strings.abbreviate(quote.work.slug, 25)}" /></td>
								<td class="child-enum"><div th:each="locale : ${quote.locales}" th:text="${#strings.abbreviate(locale.corpus, 50)} + ' (' + ${locale.language} + ')'" /></td>
								<td class="text-right">
									<a th:text="#{actions.view}" th:href="@{/tiwolij/quotes/view(quoteId=${quote.id})}" role="button" class="btn btn-xs btn-default" />
									<a th:text="#{actions.edit}" th:href="@{/tiwolij/quotes/edit(quoteId=${quote.id})}" role="button" class="btn btn-xs btn-primary" />
									<a th:text="#{actions.delete}" th:href="@{/tiwolij/quotes/delete(quoteId=${quote.id})}" role="button" class="btn btn-xs btn-danger" th:onclick="'return confirm(\'' + #{all.confirm} + '\')'" />
								</td>
							</tr>
						</tbody>
					</table>
					<div th:if="${#lists.isEmpty(quotes)}" class="panel-body"><p th:text="#{all.empty}" class="text-danger" /></div>
				</div>
			</div>
		</section>
	</div>
	<footer th:replace="../elements/footer" />
</body>

</html>
