<!doctype html>
<html class="no-js" lang="en">

<head th:replace="../elements/header (title='List of Quotes')"></head>

<body id="backend" class="list quotes">
	<div id="wrapper">
		<div th:replace="../elements/navbar"></div>
		<div id="inner">
			<table id="list">
				<thead>
					<td>ID <a th:href="@{/tiwolij/quotes/list?order=id}">↓</a></td>
					<td>Author Slug</td>
					<td>Work Slug</td>
					<td>Schedule <a th:href="@{/tiwolij/quotes/list?order=schedule}">↓</a></td>
					<td>Locales</td>
					<td>Actions</td>
				</thead>
				<tr th:each="quote : ${quotes}">
					<td>
						<a th:href="@{/tiwolij/quotes/view?id=} + ${quote.id}" th:text="'#' + ${quote.id}"></a>
					</td>
					<td>
						<a th:href="@{/tiwolij/authors/view?id=} + ${quote.work.author.id}" th:text="${quote.work.author.slug}"></a>
					</td>
					<td>
						<a th:href="@{/tiwolij/works/view?id=} + ${quote.work.id}" th:text="${quote.work.slug}"></a>
					</td>
					<td th:text="${quote.schedule}"></td>
					<td><a th:href="@{/tiwolij/quotes/locales/list?id=} + ${quote.id}">List</a></td>
					<td>
						<a th:href="@{/view?id=} + ${quote.id}">Permalink</a> |
						<a th:href="@{/tiwolij/quotes/view?id=} + ${quote.id}">View</a> |
						<a th:href="@{/tiwolij/quotes/edit?id=} + ${quote.id}">Edit</a> |
						<a th:href="@{/tiwolij/quotes/delete?id=} + ${quote.id}">Delete</a> |
						<a th:href="@{/tiwolij/quotes/locales/edit?quote=} + ${quote.id}">Add Locale</a>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div th:replace="../elements/scripts"></div>
</body>

</html>
