<!doctype html>
<html class="no-js" lang="en">

<head th:replace="../elements/header (title=#{backend.title})" />

<body>
	<div class="container">
		<nav th:replace="../elements/navbar" />
		<section class="row">
			<div class="col-md-4">
				<div class="panel panel-default">
					<div th:text="#{authors.summary}" class="panel-heading" />
					<div class="panel-body form-horizontal">
						<div class="form-group">
							<label th:text="#{fields.authors}" class="col-sm-8 control-label" />
							<div class="col-sm-4">
								<p class="form-control-static">
									<a th:href="@{/tiwolij/authors/list}" th:text="${authors}" />
								</p>
							</div>
						</div>
						<div class="form-group">
							<label th:text="#{fields.locales}" class="col-sm-8 control-label" />
							<div class="col-sm-4">
								<p class="form-control-static">
									<a th:href="@{/tiwolij/authors/locales/list}" th:text="${authorLocales}" />
								</p>
							</div>
						</div>
					</div>
					<div class="panel-footer text-right">
						<a th:text="#{authors.create}" th:href="@{/tiwolij/authors/create}" role="button" class="btn btn-sm btn-success" />
						<a th:text="#{locales.author.create}" th:href="@{/tiwolij/authors/locales/create}" role="button" class="btn btn-sm btn-success" />
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div th:text="#{works.summary}" class="panel-heading" />
					<div class="panel-body form-horizontal">
						<div class="form-group">
							<label th:text="#{fields.works}" class="col-sm-8 control-label" />
							<div class="col-sm-4">
								<p class="form-control-static">
									<a th:href="@{/tiwolij/works/list}" th:text="${works}" />
								</p>
							</div>
						</div>
						<div class="form-group">
							<label th:text="#{fields.locales}" class="col-sm-8 control-label" />
							<div class="col-sm-4">
								<p class="form-control-static">
									<a th:href="@{/tiwolij/works/locales/list}" th:text="${workLocales}" />
								</p>
							</div>
						</div>
					</div>
					<div class="panel-footer text-right">
						<a th:text="#{works.create}" th:href="@{/tiwolij/works/create}" role="button" class="btn btn-sm btn-success" />
						<a th:text="#{locales.work.create}" th:href="@{/tiwolij/works/locales/create}" role="button" class="btn btn-sm btn-success" />
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div th:text="#{quotes.summary}" class="panel-heading" />
					<div class="panel-body form-horizontal">
						<div class="form-group">
							<label th:text="#{fields.quotes}" class="col-sm-8 control-label" />
							<div class="col-sm-4">
								<p class="form-control-static">
									<a th:href="@{/tiwolij/quotes/list}" th:text="${quotes}" />
								</p>
							</div>
						</div>
						<div class="form-group">
							<label th:text="#{fields.locales}" class="col-sm-8 control-label" />
							<div class="col-sm-4">
								<p class="form-control-static">
									<a th:href="@{/tiwolij/quotes/locales/list}" th:text="${quoteLocales}" />
								</p>
							</div>
						</div>
					</div>
					<div class="panel-footer text-right">
						<a th:text="#{quotes.create}" th:href="@{/tiwolij/quotes/create}" role="button" class="btn btn-sm btn-success" />
						<a th:text="#{locales.quote.create}" th:href="@{/tiwolij/quotes/locales/create}" role="button" class="btn btn-sm btn-success" />
					</div>
				</div>
			</div>
		</section>
	</div>
	<footer th:replace="../elements/footer" />
</body>

</html>
