<!doctype html>
<html class="no-js" lang="en">

<head th:replace="../elements/blocks :: header(title=#{backend.searchresults})" />

<body id="backend">
	<div class="container">
		<nav th:replace="../elements/navbar" />
		<section th:replace="../elements/lists :: listAuthors(${authors}, ${new String[] {'wikidataId', 'slug', 'names', 'image', 'works', 'quotes'}}, '')" />
		<section th:replace="../elements/lists :: listWorks(${works}, ${new String[] {'wikidataId', 'author', 'slug', 'names', 'quotes'}}, '')" />
		<section th:replace="../elements/lists :: listQuotes(${quotes}, ${new String[] {'language', 'schedule', 'corpus', 'source', 'meta', 'locked'}}, '')" />
	</div>
	<footer th:replace="../elements/blocks :: footer" />
</body>

</html>
