<!doctype html>
<html class="no-js" lang="en">

<head th:replace="../elements/blocks :: header(title=#{quotes.edit})" />

<body id="backend">
	<div class="container">
		<nav th:replace="../elements/navbar" />
		<section class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div th:text="#{quotes.edit} + ' #' + ${quote.id}" class="panel-heading" />
					<form th:object="${quote}" class="form-horizontal" method="post">
						<div class="panel-body">
							<div th:replace="../elements/fields :: fieldSelect('work', true, ${works}, 'id', 'slug')" />
							<div th:replace="../elements/fields :: fieldInput('language', true, 'text', 2, '^[a-z]{2}$')" />
							<div th:replace="../elements/fields :: fieldInput('schedule', true, 'text', 5, '^(0[1-9]|[1-2][0-9]|3[0-1])-(0[1-9]|1[0-2])$')" />
							<div th:replace="../elements/fields :: fieldInput('year', false, 'text', 10, '')" />
							<div th:replace="../elements/fields :: fieldInput('time', false, 'text', 8, '^([0-1][0-9]|2[0-3])(:[0-5][0-9]){1,2}$')" />
							<div th:replace="../elements/fields :: fieldTextarea('corpus', true, 5, '')" />
							<div th:replace="../elements/fields :: fieldInput('href', false, 'url', 255, '')" />
							<div th:replace="../elements/fields :: fieldInput('meta', false, 'text', 255, '')" />
							<div th:replace="../elements/fields :: fieldCheckbox('locked')" />
						</div>
						<div class="panel-footer text-right">
							<input th:field="*{id}" type="hidden" />
							<button th:text="#{quotes.edit}" th:formaction="@{/tiwolij/quotes/edit}" type="submit" class="btn btn-sm btn-success" />
							<a th:text="#{quotes.delete}" th:href="@{/tiwolij/quotes/delete(quoteId=*{id})}" role="button" class="btn btn-sm btn-danger" th:onclick="'return confirm(MESSAGES_BACKEND_CONFIRM)'" />
						</div>
					</form>
				</div>
			</div>
		</section>
	</div>
	<footer th:replace="../elements/blocks :: footer" />
</body>

</html>
