<!doctype html>
<html class="no-js" lang="en">

<head th:replace="../elements/header (title=#{locales.quote.view})" />

<body id="backend">
	<div class="container">
		<nav th:replace="../elements/navbar" />
		<section class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div th:text="#{locales.quote.view} + ' #' + ${locale.id}" class="panel-heading" />
					<form th:object="${locale}" class="form-horizontal">
						<div class="panel-body">
							<div th:replace="../elements/fields :: view('quote', *{quote.id}, @{/tiwolij/quotes/view(quoteId=*{quote.id})}, false)" />
							<div th:replace="../elements/fields :: view('language', *{language}, '', false)" />
							<div th:replace="../elements/fields :: view('schedule', *{schedule}, '', false)" />
							<div th:replace="../elements/fields :: view('corpus', *{corpus}, '', false)" />
							<div th:replace="../elements/fields :: view('href', #{actions.view}, *{href}, true)" th:unless="*{#strings.isEmpty(href)}" />
							<div th:replace="../elements/fields :: view('meta', *{meta}, '', false)" th:unless="*{#strings.isEmpty(meta)}" />
							<div th:replace="../elements/fields :: view('year', *{year}, '', false)" th:unless="*{#strings.isEmpty(year)}" />
							<div th:replace="../elements/fields :: view('time', *{time}, '', false)" th:unless="*{#strings.isEmpty(time)}" />
						</div>
						<div class="panel-footer text-right">
							<a th:text="#{locales.quote.preview}" th:href="@{/view(id=${locale.quote.id}, lang=*{language})}" target="_blank" role="button" class="btn btn-sm btn-default" />
							<a th:text="#{locales.quote.edit}" th:href="@{/tiwolij/quotes/locales/edit(localeId=*{id})}" role="button" class="btn btn-sm btn-primary" />
							<a th:text="#{locales.quote.delete}" th:href="@{/tiwolij/quotes/locales/delete(localeId=*{id})}" role="button" class="btn btn-sm btn-danger"
								th:onclick="'return confirm(\'' + #{general.confirm} + '\')'" />
						</div>
					</form>
				</div>
			</div>
		</section>
	</div>
	<footer th:replace="../elements/footer" />
</body>

</html>
