<!doctype html>
<html class="no-js" lang="en">

<head th:replace="../elements/header (title=#{quotes.view})" />

<body id="backend">
	<div class="container">
		<nav th:replace="../elements/navbar" />
		<section class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div th:text="#{quotes.view} + ' #' + ${quote.id}" class="panel-heading" />
					<form th:unless="${#strings.isEmpty(quote)}" th:object="${quote}" class="form-horizontal">
						<div class="panel-body">
							<div th:replace="../elements/fields :: view('work', *{work.slug}, @{/tiwolij/works/view(workId=*{work.id})}, false)" />
							<div th:replace="../elements/fields :: view('slug', *{work.author.slug} + '_' + *{work.slug} + '_' + *{id}, '', false)" />
						</div>
						<div class="panel-footer text-right">
							<a th:text="#{quotes.edit}" th:href="@{/tiwolij/quotes/edit(quoteId=*{id})}" role="button" class="btn btn-sm btn-primary" />
							<a th:text="#{quotes.delete}" th:href="@{/tiwolij/quotes/delete(quoteId=*{id})}" role="button" class="btn btn-sm btn-danger"
								th:onclick="'return confirm(\'' + #{general.confirm} + '\')'" />
						</div>
					</form>
					<div th:if="${#strings.isEmpty(quote)}" class="panel-body"><p th:text="#{general.empty}" class="text-danger" /></div>
				</div>
			</div>
		</section>
		<section class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div th:text="#{locales.quote.list}" class="panel-heading" />
					<table th:unless="${#maps.isEmpty(quote.locales)}" class="table table-hover">
						<thead>
							<tr>
								<th th:text="#{fields.id}" />
								<th th:text="#{fields.language}" />
								<th th:text="#{fields.schedule}" />
								<th th:text="#{fields.corpus}" />
								<th th:text="#{fields.source}" class="text-center" />
								<th th:text="#{fields.meta}" />
								<th th:text="#{actions}" class="text-right" />
							</tr>
						</thead>
						<tbody>
							<tr th:each="locale : ${quote.locales}">
								<th th:text="'#' + ${locale.value.id}" />
								<td th:text="${locale.key}" />
								<td th:text="${locale.value.schedule}" />
								<td th:text="${#strings.abbreviate(locale.value.corpus, 25)}" />
								<td class="text-center"><a th:unless="${#strings.isEmpty(locale.value.href)}" th:text="#{actions.view}" th:href="${locale.value.href}" target="_blank" /></td>
								<td th:text="${locale.value.meta}" />
								<td class="text-right">
									<a th:text="#{actions.view}" th:href="@{/tiwolij/quotes/locales/view(localeId=${locale.value.id})}" role="button" class="btn btn-xs btn-default" />
									<a th:text="#{actions.edit}" th:href="@{/tiwolij/quotes/locales/edit(localeId=${locale.value.id})}" role="button" class="btn btn-xs btn-primary" />
									<a th:text="#{actions.delete}" th:href="@{/tiwolij/quotes/locales/delete(localeId=${locale.value.id})}" role="button" class="btn btn-xs btn-danger"
										th:onclick="'return confirm(\'' + #{general.confirm} + '\')'" />
								</td>
							</tr>
						</tbody>
					</table>
					<div th:if="${#maps.isEmpty(quote.locales)}" class="panel-body"><p th:text="#{general.empty}" class="text-danger" /></div>
					<div class="panel-footer text-right">
						<a th:text="#{locales.quote.create}" th:href="@{/tiwolij/quotes/locales/create(quoteId=${quote.id})}" role="button" class="btn btn-sm btn-success" />
					</div>
				</div>
			</div>
		</section>
	</div>
	<footer th:replace="../elements/footer" />
</body>

</html>
