<!doctype html>
<html class="no-js" lang="en">

<head th:replace="../elements/header (title=#{quotes.create})" />

<body id="backend">
	<div class="container">
		<nav th:replace="../elements/navbar" />
		<section class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div th:text="#{quotes.create}" class="panel-heading" />
					<form th:object="${quote}" class="form-horizontal" method="post">
						<div class="panel-body">
							<div th:replace="../elements/fields :: pulldown('work', true, ${works}, 'id', 'slug')" />
						</div>
						<div class="panel-footer text-right">
							<button th:text="#{quotes.create}" th:formaction="@{/tiwolij/quotes/create}" type="submit" class="btn btn-sm btn-success" />
						</div>
					</form>
				</div>
			</div>
		</section>
	</div>
	<footer th:replace="../elements/footer" />
</body>

</html>
