<!doctype html>
<html class="no-js" lang="en">

<head th:replace="../elements/header (title=#{locales.work.view})" />

<body id="backend">
	<div class="container">
		<nav th:replace="../elements/navbar" />
		<section class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div th:text="#{locales.work.view} + ' #' + ${locale.id}" class="panel-heading" />
					<form th:object="${locale}" class="form-horizontal">
						<div class="panel-body">
							<div th:replace="../elements/fields :: view('work', *{work.slug}, @{/tiwolij/works/view(workId=${locale.work.id})}, false)" />
							<div th:replace="../elements/fields :: view('language', *{language}, '', false)" />
							<div th:replace="../elements/fields :: view('name', *{name}, '', false)" />
							<div th:replace="../elements/fields :: view('href', #{actions.view}, '*{href}', true)" th:unless="${#strings.isEmpty(locale.href)}" />
						</div>
						<div class="panel-footer text-right">
							<a th:text="#{locales.work.edit}" th:href="@{/tiwolij/works/locales/edit(localeId=*{id})}" role="button" class="btn btn-sm btn-primary" />
							<a th:text="#{locales.work.delete}" th:href="@{/tiwolij/works/locales/delete(localeId=*{id})}" role="button" class="btn btn-sm btn-danger"
								th:onclick="'return confirm(\'' + #{general.confirm} + '\')'" />
						</div>
					</form>
				</div>
			</div>
		</section>
	</div>
	<footer th:replace="../elements/footer" />
</body>

</html>
