<!doctype html>
<html class="no-js" lang="en">

<head th:replace="../elements/header (title=#{works.edit})" />

<body id="backend">
	<div class="container">
		<nav th:replace="../elements/navbar" />
		<section class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div th:text="#{works.edit} + ' #' + ${work.id}" class="panel-heading" />
					<form th:object="${work}" class="form-horizontal" method="post">
						<div class="panel-body">
							<div th:replace="../elements/fields :: view('wikidataId', *{wikidataId}, @{https://www.wikidata.org/wiki/Q} + *{wikidataId}, true)" th:unless="*{#strings.isEmpty(wikidataId)}" />
							<div th:replace="../elements/fields :: pulldown('author', true, ${authors}, 'id', 'slug')" />
							<div th:replace="../elements/fields :: putin('slug', true, 'text', 255, '', 'Discipline_and_Punish')" />
						</div>
						<div class="panel-footer text-right">
							<input th:field="*{id}" type="hidden" />
							<input th:field="*{wikidataId}" type="hidden" />
							<button th:text="#{works.edit}" th:formaction="@{/tiwolij/works/edit}" type="submit" class="btn btn-sm btn-success" />
							<a th:text="#{works.delete}" th:href="@{/tiwolij/works/delete(workId=*{id})}" role="button" class="btn btn-sm btn-danger"
								th:onclick="'return confirm(\'' + #{general.confirm} + '\')'" />
						</div>
					</form>
				</div>
			</div>
		</section>
	</div>
	<footer th:replace="../elements/footer" />
</body>

</html>
