/*
 * GENERAL
 */

body {
    padding: 15px 0;
    background-color: lightgrey;
}

/*
 * BACKEND
 */

.child-enum>:not(:last-child)::after {
    content: ',';
}
form textarea:invalid, form input:invalid {
    border-color: #8a6d3b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background-color: #fcf8e3;
}

/*
 * FRONTEND
 */

#frontend {
    padding: 0;
}
#frontend #inner {
    margin: auto;
    width: 900px;
    max-width: 100vw;
    padding: 20px;
    background-color: lightgrey;
}
#frontend #head {
    display: flex;
    flex-flow: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    background-color: darkgrey;
}
#frontend #head h1 {
    margin: 0;
    order: -1;
    flex-basis: 100%;
}
#frontend #head a {
    margin: 10px;
}
#frontend #meta {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    text-align: center;
    background-color: darkgrey;
}
#frontend #meta> * {
    padding: 10px 0;
}
#frontend #meta #langselect img {
    padding: 0 5px;
}
#frontend .empty {
    padding: 50px 0;
    text-align: center;
}

/*
 * FRONTEND / LIST
 */

#frontend #list ul {
    margin: 20px 0;
    list-style-type: square;
}

/*
 * FRONTEND / INDEX, VIEW
 */

#frontend #index form {
    padding: 20px 0;
    text-align: center;
}
#frontend #index button, #frontend #index input {
    height: 30px;
    border: 2px solid darkgrey;
    text-align: center;
}
#frontend #index, #frontend #view {
    display: flex;
    flex-flow: column;
    align-content: stretch;
    text-align: center;
    margin: 20px 0;
}
#frontend #index .image, #frontend #view .image {
    flex-basis: 0;
    flex-grow: 1;
		background-color: darkgrey;
		/*border: 5px solid darkgrey;*/
}
#frontend #index .intro, #frontend #view .corpus {
    position: relative;
    flex-basis: 0;
    flex-grow: 2;
}
#frontend #index .image img, #frontend #view .image img {
    max-height: 500px;
    max-width: 100%;
    padding: 5px;
		/*border: 5px solid darkgrey;*/
}
#frontend #index .image p, #frontend #view .image p {
		font-size: smaller;
		text-align: center;
}
#frontend #index .intro .heatron, #frontend #view .corpus .source, #frontend #view .corpus .today {
    margin: 20px 0;
    text-align: center;
    background-color: darkgrey;
}
#frontend #view .corpus .today {
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
}
#frontend #view .corpus .today .current {
    font-weight: bold;
}
#frontend #index .intro p, #frontend #view .corpus p {
    margin: 0;
    hyphens: auto;
    text-align: justify;
}

/*
 * FRONTEND / ABOUT
 */

#frontend #about p {
    hyphens: auto;
    text-align: justify;
}

/*
 * FRONTEND / MEDIAQUERIES
 */

@media screen and (min-width: 900px) {
    /* GENERAL */
    body {
        background-color: white;
    }
    /* FRONTEND */
    #frontend #inner {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #frontend #head {
        flex-wrap: nowrap;
    }
    #frontend #head h1 {
        order: 0;
        flex-basis: auto;
    }
    #frontend #meta {
        flex-flow: row;
    }
    #frontend #index, #frontend #view {
        flex-flow: row;
        text-align: inherit;
    }
    #frontend #index .intro .heatron, #frontend #view .corpus .source {
        margin-top: 0;
        margin-left: 20px;
    }
    #frontend #view .corpus .today {
        position: absolute;
        margin-left: 20px;
    }
    #frontend #index .intro p, #frontend #view .corpus p {
        padding-left: 20px;
    }
}
