#frontend {
	padding: 0;
}
#frontend #inner {
    margin: auto;
    width: 900px;
    max-width: 100vw;
    padding: 20px;
    background-color: lightgrey;
}
#frontend #head {
    display: flex;
    flex-flow: column;
	justify-content: space-around;
    align-content: stretch;
    text-align: center;
	background-color: darkgrey;
}
#frontend #head> *:nth-child(even)> * {
    margin: 0;
}
#frontend #head> *:nth-child(odd)> * {
	display: block;
    margin: 10px 0;
}
#frontend #data {
    display: flex;
    flex-flow: column;
    align-content: stretch;
    text-align: center;
    margin: 20px 0;
}
#frontend #data> *:first-child {
	flex-basis: 0;
    flex-grow: 1;
}
#frontend #data> *:last-child {
	flex-basis: 0;
    flex-grow: 2;
}
#frontend #data img {
    max-height: 500px;
    max-width: 100%;
    border: 5px solid darkgrey;
}
#frontend #data p {
    text-align: justify;
    hyphens: auto;
    font-size: 120%;
    margin: 0;
    padding-top: 20px;
}
#frontend #meta {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    text-align: center;
    background-color: darkgrey;
}
#frontend #meta> * {
    padding: 10px 0;
}
@media screen and (min-width: 900px) {
    #frontend #inner {
        margin-top: 50px;
        margin-bottom: 50px;
    }
	#frontend #head {
		flex-flow: row;
	}
    #frontend #data {
        flex-flow: row;
        text-align: inherit;
    }
    #frontend #data p {
        padding-top: 0;
        padding-left: 20px;
    }
    #frontend #meta {
        flex-flow: row;
    }
}

body {
	padding: 15px 0;
}

.child-enum > :not(:last-child)::after {
	content: ',';
}

form textarea[required]:invalid, form input[required]:invalid {
	border-color: #8a6d3b;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	background-color: #fcf8e3;
}
