<!doctype html>
<html class="no-js" lang="en">

<head th:replace="../elements/header (title='About')" />

<body id="frontend">
	<!--[if lt IE 8]>
		<p class="browserupgrade">
			You are using an <strong>outdated</strong> browser.
			Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
		</p>
	<![endif]-->

	<div id="wrapper">
		<div id="inner">
			<div id="head">
				<h1>About tiwoli</h1>
			</div>
			<div id="about">
				<!-- TODO -->
			</div>
			<div th:replace="../elements/meta"></div>
		</div>
	</div>

	<div th:replace="../elements/footer"></div>
</body>

</html>
