<!doctype html>
<html class="no-js" lang="en">

<head th:replace="../elements/header (title=#{About})" />

<body id="frontend">
	<!--[if lt IE 8]>
		<p class="browserupgrade">
			You are using an <strong>outdated</strong> browser.
			Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
		</p>
	<![endif]-->

	<div id="wrapper">
		<div id="inner">
			<div id="head">
				<h1>About tiwoli</h1>
			</div>
			<div id="about">
				<h3>Autoren</h3>
				<p>
					<a target="_blank" href="http://dbs.ifi.uni-heidelberg.de/index.php?id=161">Thomas Bögel</a> (iOS-App),
					<br /> <a target="_blank" href="http://dbs.ifi.uni-heidelberg.de/index.php?id=jannik">Jannik Strötgen</a> (Android-App),
					<br /> <a target="_blank" href="http://www.gcdh.de/frank.fischer">Frank Fischer</a> (Kurator) und
					<br /> <a target="_blank" href="https://openclipart.org/">AJ Ashton auf OpenClipart</a>
					(App-Icon <a target="_blank" href="https://creativecommons.org/publicdomain/zero/1.0/legalcode">CC0 1.0</a>)
				</p>
				<h3>Impressum</h3>
				<h4>I. Projetkbeschreibung</h4>
				<p>
					Diese App tiwoli und die dazugehörige Webseite zeigen für jeden Tag des Jahres Zitate aus dem Kanon der Weltliteratur, in denen auf das entsprechende Datum verwiesen wird.
				</p>
				<h4>II. Urheberrechtlicher Rahmen / Verwertungsrechte</h4>
				<p>
					Sofern der Anbieter beim Heranziehen literarischer Werke und Werkteile urheberrechtlich relevante Nutzungshandlungen vornimmt, bewegt er sich im Rahmen freier Werknutzungen. Insbesondere kann sich der Anbieter auf diverse Tatbestände des Zitatrechts berufen.
					Die verwendeten Zitate werden im Rahmen eines Forschungsprojekts erhoben und haben Beleg- und Erläuterungsfunktion.
				</p>
				<h4>III. Verpflichtung der Nutzer zu rechtmäßigem Verhalten</h4>
				<p>
					Der Nutzer/die Nutzerin versichert, dass er/sie sich bei der Inanspruchnahme der Dienste des Anbieters rechtmäßig verhält, insbesondere keine rechtswidrigen Zwecke verfolgt und keine Urheberrechtsverletzungen begeht. Der Nutzer/die Nutzerin verpflichtet
					sich, den Anbieter auf Verlangen von sämtlichen Ansprüchen freizustellen, die von Dritten gegen den Anbieter wegen von dem Nutzer/der Nutzerin schuldhaft (fahrlässig oder vorsätzlich) verursachter Rechtsverletzung geltend gemacht werden. Der Anbieter
					übernimmt keine Haftung für missbräuchliche bzw. rechtswidrige Verwendung der zitierten Werke/Werkausschnitte.
				</p>
				<h4>IV. Hinweis statt Abmahnung</h4>
				<p>
					Sollten Rechteinhaber an den innerhalb der App zitierten Werken zur Auffassung gelangen, dass im hier gepflegten Umgang mit den zitierten Werken ein irgendwie gearteter Rechtsverstoß vorliegt, bitten wir um Kontaktaufnahme mit <a target="_blank"
					href="http://www.gcdh.de/frank.fischer">Frank Fischer</a> und/oder <a target="_blank" href="http://dbs.ifi.uni-heidelberg.de/index.php?id=jannik">Jannik Strötgen</a>. Der betreffende Fall wird unverzüglich geprüft und ggf. bereinigt.
				</p>
				<h4>V. Aktualität</h4>
				<p>
					Dieses Impressumg ist auf dem Stand April 2015. Hinweise nach Vorbild und in Abstimmung mit dem Projekt &rsaquo;<a href="http://www.univie.ac.at/bildzitat/Nutzungshinweise.html">Datenbank Literarischer Bildzitate</a>&lsaquo; an der Universität Wien.
				</p>
			</div>
			<div th:replace="../elements/meta"></div>
		</div>
	</div>

	<div th:replace="../elements/footer"></div>
</body>

</html>
