<!doctype html>
<html class="no-js" lang="en">

<head th:replace="../elements/header (title=#{meta.about})" />

<body id="frontend">
	<!--[if lt IE 8]>
		<p class="browserupgrade">
			You are using an <strong>outdated</strong> browser.
			Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
		</p>
	<![endif]-->

	<div id="wrapper">
		<div id="inner">
			<div id="head">
				<h1 th:text="#{meta.about}" />
			</div>
			<div id="about">
				<h3>Autor:innen</h3>
				<p>
					<a target="_blank" href="http://dbs.ifi.uni-heidelberg.de/index.php?id=161">Thomas Bögel</a> (Ruprecht-Karls-Universität Heidelberg)
					<br /><a target="_blank" href="http://www.gcdh.de/frank.fischer">Frank Fischer</a> (Higher School of Economics, Moskau)
					<br /><a target="_blank" href="http://dbs.ifi.uni-heidelberg.de/index.php?id=jannik">Jannik Strötgen</a> (Max-Planck-Institut für Informatik, Saarbrücken)
					<br /><a target="_blank" href="http://www.spinfo.uni-koeln.de/jhermes.html">Jürgen Hermes</a> (Universität zu Köln)
					<br /><a target="_blank" href="http://www.spinfo.phil-fak.uni-koeln.de/geduldiga.html">Alena Geduldig</a> (Universität zu Köln)
					<br /><a target="_blank" href="https://phil.re">Philip Schildkamp</a> (Universität zu Köln)
					<br />
					<br />App-Icon für Android und iOS: AJ (<a href="https://openclipart.org/detail/105859/booksajsvg-aj-ashton-01">Openclipart</a>, <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 1.0</a>)
				</p>
				<h3>Impressum</h3>
				<h4>I. Projektbeschreibung</h4>
				<p>Die Tiwoli-Apps und die dazugehörige Website zeigen für jeden Tag des Jahres Zitate aus dem Kanon der Weltliteratur, in denen auf das entsprechende Datum verwiesen wird. Es stehen ein deutsches, ein englisches und ein spanisches Korpus zur Verfügung.
					Tiwoli war ursprünglich das Nebenprodukt eines Forschungsprojekts, in dem es um die quantitative Erhebung temporaler Ausdrücke aus literarischen Korpora geht. Entsprechende peer-reviewte Konferenzpaper und Materialien gibt es <a href="http://dbs.ifi.uni-heidelberg.de/index.php?id=jahrestage">auf der ursprünglichen Projektwebsite</a>.</p>
				<h4>II. Urheberrechtlicher Rahmen / Verwertungsrechte</h4>
				<p>Sofern der Anbieter beim Heranziehen literarischer Werke und Werkteile urheberrechtlich relevante Nutzungshandlungen vornimmt, bewegt er sich im Rahmen freier Werknutzungen. Insbesondere kann sich der Anbieter auf diverse Tatbestände des Zitatrechts
					berufen. Die verwendeten Zitate werden im Rahmen eines Forschungsprojekts erhoben und haben Beleg- und Erläuterungsfunktion.</p>
				<h4>III. Verpflichtung der Nutzer zu rechtmäßigem Verhalten</h4>
				<p>Der Nutzer/die Nutzerin versichert, dass er/sie sich bei der Inanspruchnahme der Dienste des Anbieters rechtmäßig verhält, insbesondere keine rechtswidrigen Zwecke verfolgt und keine Urheberrechtsverletzungen begeht. Der Nutzer/die Nutzerin verpflichtet
					sich, den Anbieter auf Verlangen von sämtlichen Ansprüchen freizustellen, die von Dritten gegen den Anbieter wegen von dem Nutzer/der Nutzerin schuldhaft (fahrlässig oder vorsätzlich) verursachter Rechtsverletzung geltend gemacht werden. Der Anbieter
					übernimmt keine Haftung für missbräuchliche bzw. rechtswidrige Verwendung der zitierten Werke/Werkausschnitte.</p>
				<h4>IV. Hinweis statt Abmahnung</h4>
				<p>Sollten Rechteinhaber an den innerhalb der App zitierten Werken zur Auffassung gelangen, dass im hier gepflegten Umgang mit den zitierten Werken ein irgendwie gearteter Rechtsverstoß vorliegt, bitten wir um Kontaktaufnahme mit <a href="https://www.hse.ru/en/org/persons/182492735">Frank Fischer</a>
					und/oder <a href="http://www.spinfo.phil-fak.uni-koeln.de/jhermes.html">Jürgen Hermes</a>. Der betreffende Fall wird unverzüglich geprüft und ggf. bereinigt.</p>
				<h4>V. Aktualität</h4>
				<p>Dieses Impressum ist auf dem Stand Oktober 2016. Das Impressum wurde nach Vorbild und in Abstimmung mit dem Projekt <a href="http://www.univie.ac.at/bildzitat/Nutzungshinweise.html">»Datenbank Literarischer Bildzitate«</a> an der Universität Wien
					erstellt.</p>
			</div>
			<div th:replace="../elements/meta"></div>
		</div>
	</div>

	<div th:replace="../elements/footer"></div>
</body>

</html>
