<!doctype html>
<html class="no-js" lang="en">

<head th:replace="../elements/header (title=#{meta.home})" />

<body id="frontend">
	<!--[if lt IE 8]>
		<p class="browserupgrade">
			You are using an <strong>outdated</strong> browser.
			Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
		</p>
	<![endif]-->

	<div id="wrapper">
		<div id="inner">
			<div id="head">
				<h1>tiwoli: Today in World Literature</h1>
			</div>
			<div id="index">
				<div class="image"><img th:src="@{/img/tiwoli.png}" alt="tiwoli" /></div>
				<div class="intro">
					<div class="heatron">Some arbitrary text on top of the body.</div>
					<p>What TIWOLI does is give You the opportunity to zigzag through an entire world-literary year, a calendar filled with fictional happenings.</p>
					<form method="get">
						<input type="text" name="schedule" placeholder="21-07" maxlength="5" size="5" pattern="^(0[1-9]|[1-2][0-9]|3[0-1])-(0[1-9]|1[0-2])$" />
						<button th:formaction="@{/view}" type="submit">View daily Quote</button>
						<button th:formaction="@{/list}" type="submit">List Quotes</button>
					</form>
					<p>How did this come about? At the annual ADHO Digital Humanities conference 2015 (<a href="http://dh2015.org/">DH2015</a>) in Sydney, we delivered a talk called “When does (German) literature take place?” (<a href="http://dbs.ifi.uni-heidelberg.de/fileadmin/Team/jannik/publications/dh2015-sydney-fischer-stroetgen-german-literature-slides.pdf">slides</a>)
						In order to answer that unusual question, we extracted exact dates and months from a corpus of 2,700+ works of German-language fiction from 1510 to the 1940s. Our results suggested that <a href="https://de.wikisource.org/wiki/Im_wundersch%C3%B6nen_Monat_Mai">“the marvellous month of May”</a>
						(Heinrich Heine) is preeminent in our corpus of German fiction. There was already enough evidence to claim that May is the favourite month of poets (at least in the northern hemisphere), and Heine is just one example.</p>
					<p>As a by-product, we coded a app to showcase the more exciting and self-explanatory of our results. We called our app <strong>TIWOLI</strong> (short for “Today in World Literature”).</p>
				</div>
			</div>
			<div th:replace="../elements/meta"></div>
		</div>
	</div>

	<div th:replace="../elements/footer"></div>
</body>

</html>
