<!doctype html>
<html class="no-js" lang="en">

<head th:replace="../elements/header (title=#{Home})" />

<body id="frontend">
	<!--[if lt IE 8]>
		<p class="browserupgrade">
			You are using an <strong>outdated</strong> browser.
			Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
		</p>
	<![endif]-->

	<div id="wrapper">
		<div id="inner">
			<div id="head">
				<h1>tiwoli: Today in World Literature</h1>
			</div>
			<div id="index">
				<form method="get">
					<input type="text" name="schedule" placeholder="21-07" maxlength="5" size="5" pattern="^(0[1-9]|[1-2][0-9]|3[0-1])-(0[1-9]|1[0-2])$" />
					<button th:formaction="@{/view}" type="submit">View daily Quote</button>
					<button th:formaction="@{/view}" type="submit">List Quotes</button>
				</form>
			</div>
			<div th:replace="../elements/meta"></div>
		</div>
	</div>

	<div th:replace="../elements/footer"></div>
</body>

</html>
