<!doctype html>
<html class="no-js" lang="en">

<head th:replace="../elements/header (title=#{meta.qotds})" />

<body id="frontend">
	<!--[if lt IE 8]>
		<p class="browserupgrade">
			You are using an <strong>outdated</strong> browser.
			Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
		</p>
	<![endif]-->

	<div id="wrapper">
		<div id="inner">
			<div id="head">
				<h1 th:text="#{meta.qotds} + ' (' + ${#dates.format(#dates.createNow(), 'dd-MM-yyyy')} + ')'" />
			</div>
			<div th:unless="${#lists.isEmpty(list)}" id="list">
				<ul>
					<li th:each="entry : ${list}">
						<a target="_blank" th:href="${entry.middle.href}" th:text="${entry.middle.name}" />
						(<a target="_blank" th:href="${entry.right.href}" th:text="${entry.right.name}" />):
						<a th:href="@{/view(id=${entry.left.quote.id}, lang=${lang})}" th:utext="${entry.left.corpus}" />
						<div th:unless="${#strings.isEmpty(entry.left.href)}" th:remove="tag">
							(<a th:text="#{fields.source}" th:href="${entry.left.href}" target="_blank" /><span th:unless="${#strings.isEmpty(entry.left.meta)}" th:text="', ' + ${entry.left.meta}" />)
						</div>
					</li>
				</ul>
			</div>
			<div th:if="${#lists.isEmpty(list)}" th:text="#{general.empty}" class="empty" />
			<div th:replace="../elements/meta"></div>
		</div>
	</div>

	<div th:replace="../elements/footer"></div>
</body>

</html>
