<!doctype html>
<html class="no-js" lang="en">

<head th:replace="../elements/blocks :: header(title=#{frontend.qotd})" />

<body id="frontend">
	<div id="wrapper">
		<div id="inner">
			<div id="head">
				<a th:if="${prev}" th:href="@{/view(id=${prev}, lang=${lang})}">&laquo; <span th:text="#{frontend.prev}" th:remove="tag" /></a>
				<h1 th:with="date=${#strings.arraySplit(schedule, '-')}">
					<span th:text="#{frontend.qotd}" th:remove="tag" />
					(<span th:text="#{'day.' + ${date[0]}} + #{months.delim} + #{'months.' + ${date[1]}}" th:remove="tag" />)
				 </h1>
				<a th:if="${next}" th:href="@{/view(id=${next}, lang=${lang})}"><span th:text="#{frontend.next}" th:remove="tag" /> &raquo;</a>
			</div>
			<div th:if="${quote}" id="view">
				<div class="image">
					<img th:src="@{/image/author(id=${author.author.id})}" th:alt="${author.name}" />
					<div th:unless="${#lists.isEmpty(author.author.image)}" th:remove="tag">
						<p><a th:href="${author.href}" th:text="${author.name}" target="_blank" /></p>
						<p th:text="#{fields.imageAttribution} + ': ' + ${author.author.imageAttribution}" class="text-muted" />
					</div>
				</div>
				<div class="corpus">
					<div class="source">
						<a target="_blank" th:href="${author.href}" th:text="${author.name}" />:
						<a target="_blank" th:href="${work.href}" th:text="${work.name}" />
						<div th:unless="${#strings.isEmpty(quote.href)}" th:remove="tag">
							(<a th:text="#{fields.source}" th:href="${quote.href}" target="_blank" /><span th:unless="${#strings.isEmpty(quote.meta)}" th:text="', ' + ${quote.meta}" />)
						</div>
					</div>
					<p th:utext="${quote.corpus}" />
					<p><a th:text="#{frontend.readmore} + ' &raquo;'" th:href="${quote.href}" target="_blank" /></p>
					<div th:unless="${#lists.isEmpty(list)}" class="today">
						<span th:text="#{frontend.qotds} + ':'" th:remove="tag" />
						<div th:each="sibling, i : ${list}" th:remove="tag">
							<span th:if="${sibling} == ${quote}" th:text="'#' + ${i.count}" class="current" />
							<a th:unless="${sibling} == ${quote}" th:text="'#' + ${i.count}" th:href="@{/view(id=${sibling.id}, lang=${lang})}" />
						</div>
					</div>
				</div>
			</div>
			<div th:unless="${quote}" th:text="#{frontend.empty}" class="empty" />
			<div th:replace="../elements/blocks :: meta"></div>
		</div>
	</div>

	<div th:replace="../elements/blocks :: footer"></div>
</body>

</html>
