<!doctype html>
<html class="no-js" lang="en">

<head th:replace="../elements/header (title='Quote of the Day')" />

<body id="frontend">
	<!--[if lt IE 8]>
		<p class="browserupgrade">
			You are using an <strong>outdated</strong> browser.
			Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
		</p>
	<![endif]-->

	<div id="wrapper">
		<div id="inner">
			<div id="head">
				<a th:href="@{/view(id=${prev}, lang=${lang})}">&laquo; Last</a>
				<h1 th:if="${quote}" th:text="${'Quote of the Day (' + quote.schedule + '-' + #dates.format(#dates.createNow(), 'yyyy') + ')'}" />
				<h1 th:unless="${quote}" th:text="${'Quote of the Day (' + #dates.format(#dates.createNow(), 'dd-MM-yyyy') + ')'}" />
				<a th:href="@{/view(id=${next}, lang=${lang})}">Next &raquo;</a>
			</div>
			<div th:if="${quote}" id="view">
				<div class="image"><img th:src="@{/image(id=${author.author.id})}" th:alt="${author.name}" /></div>
				<div class="corpus">
					<div class="source">
						In <a target="_blank" th:href="${work.href}" th:text="${work.name}" /> by
						<a target="_blank" th:href="${author.href}" th:text="${author.name}" />
						<div th:unless="${#strings.isEmpty(quote.href)}" th:remove="tag">
							(<a target="_blank" th:href="${quote.href}">Source</a><span th:unless="${#strings.isEmpty(quote.meta)}" th:text="${', ' + quote.meta}" />)
						</div>
					</div>
					<p th:utext="${quote.corpus}" />
				</div>
			</div>
			<div th:unless="${quote}" class="empty">
				There is no quote to show here, sorry!
			</div>
			<div th:replace="../elements/meta"></div>
		</div>
	</div>

	<div th:replace="../elements/footer"></div>
</body>

</html>
