<!doctype html>
<html class="no-js" lang="en">

<head th:replace="../elements/header (title=#{meta.qotd})" />

<body id="frontend">
	<!--[if lt IE 8]>
		<p class="browserupgrade">
			You are using an <strong>outdated</strong> browser.
			Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
		</p>
	<![endif]-->

	<div id="wrapper">
		<div id="inner">
			<div id="head">
				<a th:if="${prevId}" th:href="@{/view(id=${prevId}, lang=${lang})}">&laquo; <span th:text="#{frontend.prev}" th:remove="tag" /></a>
				<h1 th:text="#{meta.qotd} + ' (' + ${schedule} + '-' + ${#dates.format(#dates.createNow(), 'yyyy')} + ')'" />
				<a th:if="${nextId}" th:href="@{/view(id=${nextId}, lang=${lang})}"><span th:text="#{frontend.next}" th:remove="tag" /> &raquo;</a>
			</div>
			<div th:if="${quote}" id="view">
				<div class="image"><img th:src="@{/image(id=${author.author.id})}" th:alt="${author.name}" /></div>
				<div class="corpus">
					<div class="source">
						<span th:text="#{frontend.in}" th:remove="tag" />
						<a target="_blank" th:href="${work.href}" th:text="${work.name}" />
						<span th:text="#{frontend.by}" th:remove="tag" />
						<a target="_blank" th:href="${author.href}" th:text="${author.name}" />
						<div th:unless="${#strings.isEmpty(quote.href)}" th:remove="tag">
							(<a th:text="#{fields.source}" th:href="${quote.href}" target="_blank" /><span th:unless="${#strings.isEmpty(quote.meta)}" th:text="', ' + ${quote.meta}" />)
						</div>
					</div>
					<p th:utext="${quote.corpus}" />
					<div th:unless="${#lists.isEmpty(list)}" class="today">
						<span th:text="#{frontend.qotds} + ':'" th:remove="tag" />
						<div th:each="locale, iterStat : ${list}" th:remove="tag">
							<span  th:if="${locale} == ${quote}" th:text="'#' + ${iterStat.count}" class="current" />
							<a th:unless="${locale} == ${quote}" th:text="'#' + ${iterStat.count}" th:href="@{/view(id=${locale.quote.id}, lang=${lang})}" />
						</div>
					</div>
				</div>
			</div>
			<div th:unless="${quote}" th:text="#{general.empty}" class="empty" />
			<div th:replace="../elements/meta"></div>
		</div>
	</div>

	<div th:replace="../elements/footer"></div>
</body>

</html>
