<!doctype html>
<html class="no-js" lang="en">

<head th:replace="../elements/blocks :: header(title=#{locales.view})" />

<body id="backend">
	<div class="container">
		<nav th:replace="../elements/navbar" />
		<section class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div th:text="#{locales.view} + ' #' + ${locale.id}" class="panel-heading" />
					<form th:object="${locale}" class="form-horizontal">
						<div class="panel-body">
							<div th:if="*{author}"><div th:replace="../elements/fields :: fieldView('author', *{author.slug}, @{/tiwolij/authors/view(authorId=*{author.id})}, false)" /></div>
							<div th:if="*{work}"><div th:replace="../elements/fields :: fieldView('work', *{work.slug}, @{/tiwolij/works/view(workId=*{work.id})}, false)" /></div>
							<div th:replace="../elements/fields :: fieldView('language', *{language}, '', false)" />
							<div th:replace="../elements/fields :: fieldView('name', *{name}, '', false)" />
							<div th:unless="*{#strings.isEmpty(href)}"><div th:replace="../elements/fields :: fieldView('href', #{actions.view}, *{href}, true)" /></div>
						</div>
						<div class="panel-footer text-right">
							<a th:text="#{locales.edit}" th:href="@{/tiwolij/locales/edit(localeId=*{id})}" role="button" class="btn btn-sm btn-primary" />
							<a th:text="#{locales.delete}" th:href="@{/tiwolij/locales/delete(localeId=*{id})}" role="button" class="btn btn-sm btn-danger" th:onclick="'return confirm(MESSAGES_BACKEND_CONFIRM)'" />
						</div>
					</form>
				</div>
			</div>
		</section>
	</div>
	<footer th:replace="../elements/blocks :: footer" />
</body>

</html>
