<!doctype html>
<html class="no-js" lang="en">

<head th:replace="../elements/header (title='Quote of the Day')" />

<body id="frontend">
	<!--[if lt IE 8]>
		<p class="browserupgrade">
			You are using an <strong>outdated</strong> browser.
			Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
		</p>
	<![endif]-->

	<div id="wrapper">
		<div id="inner">
			<div id="head">
				<div><h1 th:text="${'tiwoli Quote of the Day (' + citing.date + #dates.format(#dates.createNow(), 'yyyy') + ')'}" /></div>
			</div>
			<div id="data">
				<div><img th:src="${citing.volume.author.pict}" th:alt="${citing.volume.author.name}" /></div>
				<div><p th:utext="${citing.corpus}" /></div>
			</div>
			<div id="meta">
				<div><a target="_blank" th:href="${citing.volume.author.href}" th:text="${citing.volume.author.name}"></a></div>
				<div><a target="_blank" th:href="${citing.volume.href}" th:text="${citing.volume.name}"></a></div>
				<div><a target="_blank" th:href="${citing.full}">Volltextlink</a></div>
			</div>
		</div>
	</div>

	<div th:replace="../elements/scripts"></div>
</body>

</html>
