<div th:fragment="view(name, value, href, popup)" class="form-group">
	<label th:text="#{'fields.' + ${name}}" class="col-sm-2 control-label" />
	<div class="col-sm-10">
		<p class="form-control-static">
			<a th:text="${value}" th:href="${href}" th:remove="${#strings.isEmpty(href)} ? 'tag'" th:target="${popup} ? '_blank'" />
		</p>
	</div>
</div>

<div th:fragment="putin(name, required, type, maxlength, pattern, placeholder)" class="form-group">
	<label th:text="#{'fields.' + ${name}}" th:for="${name}" class="col-sm-2 control-label" />
	<div class="col-sm-10">
		<input th:value="${#object.get(name) instanceof T(java.lang.String)} ? ${#object.get(name)}" th:id="${name}" th:name="${name}" th:required="${required}"
			th:type="${type}" th:maxlength="${maxlength}" th:pattern="${pattern}" th:placeholder="${placeholder}" class="form-control" />
	</div>
</div>

<div th:fragment="areatext(name, required, rows, maxlength, placeholder)" class="form-group">
	<label th:text="#{'fields.' + ${name}}" th:for="${name}" class="col-sm-2 control-label" />
	<div class="col-sm-10">
		<textarea th:value="${#object.get(name) instanceof T(java.lang.String)} ? ${#object.get(name)}" th:id="${name}" th:name="${name}" th:required="${required}"
			th:rows="${rows}" th:maxlength="${maxlength}" th:placeholder="${placeholder}" class="form-control" />
	</div>
</div>

<div th:fragment="pulldown(name, required, options, value, label)" class="form-group">
	<label th:text="#{'fields.' + ${name}}" th:for="${name}" class="col-sm-2 control-label" />
	<div class="col-sm-10">
		<select th:id="${name}" th:name="${name}" th:required="${required}" class="form-control">
			<option th:unless="${required}" th:text="#{fields.emptyOption}" disabled="true" selected="true" value="" />
			<option th:each="option : ${options}" th:value="${#strings.isEmpty(value)} ? ${option} : ${option.get(value)}"
				th:text="${#strings.isEmpty(label)} ? ${option} : ${option.get(label)}" />
		</select>
	</div>
</div>

<div th:fragment="boxcheck(name)" class="form-group">
	<label th:text="#{'fields.' + ${name}}" th:for="${name}" class="col-sm-2 control-label" />
	<div class="col-sm-10">
		<div class="checkbox">
			<label>
				<input th:id="${name}" th:name="${name}" type="checkbox" />
				<span th:text="#{general.checkbox} + #{'fields.' + ${name}}" th:remove="tag" />
			</label>
		</div>
	</div>
</div>

<div th:fragment="portin(name, action, type, maxlength, pattern, label, addon, placeholder)" class="form-group">
	<label th:text="#{'fields.' + ${name}}" th:for="${name}" class="col-sm-2 control-label" />
	<div class="col-sm-10">
		<div class="input-group">
			<div th:text="${addon}" class="input-group-addon" />
			<input th:id="${name}" th:name="${name}" th:type="${type}" th:maxlength="${maxlength}" th:pattern="${pattern}"
				th:placeholder="${placeholder}" class="form-control" />
			<span class="input-group-btn">
				<button th:text="${label}" th:formaction="${action}" type="submit" class="btn btn-primary" formnovalidate="true" />
			</span>
		</div>
	</div>
</div>
