<div th:fragment="fieldView(name, value, href, popup)" class="form-group">
	<label th:text="#{'fields.' + ${name}}" class="col-sm-4 control-label" />
	<div class="col-sm-8">
		<p class="form-control-static">
			<a th:text="${value}" th:href="${href}" th:remove="${#strings.isEmpty(href)} ? 'tag'" th:target="${popup} ? '_blank'" />
		</p>
	</div>
</div>

<div th:fragment="fieldInput(name, required, type, maxlength, pattern)" class="form-group">
	<label th:text="#{'fields.' + ${name}}" th:for="${name}" class="col-sm-4 control-label" />
	<div class="col-sm-8">
		<input th:value="${__'#object.' + ${name}__ instanceof T(java.lang.String)} ? ${__'#object.' + ${name}__}" th:id="${name}" th:name="${name}" th:required="${required}" th:type="${type}" th:maxlength="${maxlength}" th:pattern="${pattern}" class="form-control" />
	</div>
</div>

<div th:fragment="fieldEnter(name, required, type, maxlength, pattern, addon, action, label)" class="form-group">
	<label th:text="#{'fields.' + ${name}}" th:for="${name}" class="col-sm-4 control-label" />
	<div class="col-sm-8">
		<div class="input-group">
			<div th:text="${addon}" class="input-group-addon" />
			<input th:value="${__'#object.' + ${name}__ instanceof T(java.lang.String)} ? ${__'#object.' + ${name}__}" th:id="${name}" th:name="${name}" th:required="${required}" th:type="${type}" th:maxlength="${maxlength}" th:pattern="${pattern}" class="form-control" />
			<span th:unless="${#strings.isEmpty(action)}" class="input-group-btn">
				<button th:text="${label}" th:formaction="${action}" type="submit" class="btn btn-primary" formnovalidate="true" />
			</span>
		</div>
	</div>
</div>

<div th:fragment="fieldTextarea(name, required, rows, maxlength)" class="form-group">
	<label th:text="#{'fields.' + ${name}}" th:for="${name}" class="col-sm-4 control-label" />
	<div class="col-sm-8">
		<textarea th:text="${__'#object.' + ${name}__ instanceof T(java.lang.String)} ? ${__'#object.' + ${name}__}" th:id="${name}" th:name="${name}" th:required="${required}" th:rows="${rows}" th:maxlength="${maxlength}" class="form-control" />
	</div>
</div>

<div th:fragment="fieldSelect(name, required, options, value, label)" class="form-group">
	<label th:text="#{'fields.' + ${name}}" th:for="${name}" class="col-sm-4 control-label" />
	<div class="col-sm-8">
		<select th:id="${name}" th:name="${name}" th:required="${required}" class="form-control">
			<option th:unless="${required}" th:text="#{fields.emptyOption}" value="" />
			<option th:each="option : ${options}" th:value="${#strings.isEmpty(value)} ? ${option} : ${__'option.' + ${value}__}" th:selected="${__'#object.' + ${name}__ == option}" th:text="${#strings.isEmpty(label)} ? ${option} : ${__'option.' + ${label}__}" />
		</select>
	</div>
</div>

<div th:fragment="fieldCheckbox(name)" class="form-group">
	<label th:text="#{'fields.' + ${name}}" th:for="${name}" class="col-sm-4 control-label" />
	<div class="col-sm-8">
		<div class="checkbox">
			<label>
				<input th:id="${name}" th:name="${name}" type="checkbox" />
				<span th:text="#{backend.checkbox} + #{'fields.' + ${name}}" th:remove="tag" />
			</label>
		</div>
	</div>
</div>
