<div th:fragment="meta" id="meta">
	<div th:if="${#maps.isEmpty(langs)}" id="langselect">
		<a th:each="lang : ${#strings.arraySplit(@environment.getProperty('tiwolij.localizations'),',')}"
			th:with="lang=${#strings.trim(lang)}" th:href="${#httpServletRequest.requestURI} + '?lang=' + ${lang}">
			<img th:src="@{/img/lang/{lang}.gif(lang=${lang})}" th:alt="${lang}" /></a>
	</div>
	<div th:unless="${#maps.isEmpty(langs)}" id="langselect">
		<a th:each="e : ${langs}" th:with="id=${e.value}, lang=${e.key}" th:href="@{/view(id=${id}, lang=${lang})}">
			<img th:src="@{/img/lang/{lang}.gif(lang=${lang})}" th:alt="${lang}" /></a>
	</div>
	<a th:href="@{/home(lang=${lang})}" th:text="#{meta.home}" />
	<a th:href="@{/about(lang=${lang})}" th:text="#{meta.about}" />
	<a th:href="@{/random(lang=${lang})}" th:text="#{meta.random}" />
</div>
