<!doctype html>
<html class="no-js" lang="en">

<head th:replace="../elements/header (title=#{locales.work.create})" />

<body>
	<div class="container">
		<nav th:replace="../elements/navbar" />
		<section class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div th:text="#{locales.work.create}" class="panel-heading" />
					<form th:object="${locale}" class="form-horizontal" method="post">
						<div class="panel-body">
							<div th:replace="../elements/fields :: select('work', true, ${works}, 'id', 'slug')" />
							<div th:replace="../elements/fields :: input('language', true, 'text', 2, '^[a-z]{2}$', 'de')" />
							<div th:replace="../elements/fields :: input('name', true, 'text', 255, '', 'Vom Umsturz der Werte')" />
							<div th:replace="../elements/fields :: input('href', false, 'url', 255, '', 'https://www.worldcat.org/oclc/3484348')" />
						</div>
						<div class="panel-footer text-right">
							<button th:text="#{locales.work.create}" th:formaction="@{/tiwolij/works/locales/create}" type="submit" class="btn btn-sm btn-success" />
						</div>
					</form>
				</div>
			</div>
		</section>
	</div>
	<footer th:replace="../elements/footer" />
</body>

</html>
