<!doctype html>
<html class="no-js" lang="en">

<head th:replace="../elements/header (title='Edit Work')" />

<body>
	<div class="container">
		<nav th:replace="../elements/navbar" />
		<section class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div th:text="${'Edit Work #' + work.id}" class="panel-heading" />
					<form th:object="${work}" class="form-horizontal" method="post">
						<div class="panel-body">
							<div th:unless="${#strings.isEmpty(work.wikidataId)}" class="form-group">
								<label for="wikidataId" class="col-sm-2 control-label">Wikidata ID</label>
								<div class="col-sm-10">
									<div class="input-group">
										<div class="input-group-addon">Q</div>
										<input th:field="*{wikidataId}" type="number" class="form-control" disabled="true" />
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="language" class="col-sm-2 control-label">Author</label>
								<div class="col-sm-10">
									<select th:field="*{author}" class="form-control" required="true">
										<option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.slug}" />
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="slug" class="col-sm-2 control-label">Slug</label>
								<div class="col-sm-10">
									<input th:field="*{slug}" type="text" class="form-control" placeholder="Discipline_and_Punish" required="true" />
								</div>
							</div>
						</div>
						<div class="panel-footer text-right">
							<input th:field="*{id}" type="hidden" />
							<input th:field="*{wikidataId}" type="hidden" />
							<button th:formaction="@{/tiwolij/works/edit}" type="submit" class="btn btn-sm btn-success">Edit Work</button>
							<a th:href="@{/tiwolij/works/delete?workId=} + *{id}" role="button" class="btn btn-sm btn-danger" onclick="return confirm('Are You shure?')">Delete Work</a>
						</div>
					</form>
				</div>
			</div>
		</section>
	</div>
	<footer th:replace="../elements/footer" />
</body>

</html>
