<!doctype html>
<html class="no-js" lang="en">

<head th:replace="../elements/header (title=#{works.list})" />

<body>
	<div class="container">
		<nav th:replace="../elements/navbar" />
		<section class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div th:text="#{works.list}" class="panel-heading" />
					<table th:unless="${#lists.isEmpty(works)}" class="table table-hover">
						<thead>
							<tr>
								<th><span th:text="#{fields.id}" th:remove="tag"/> <a th:href="@{/tiwolij/works/list?order=id}"><span class="caret" /></a></th>
								<th><span th:text="#{fields.wikidataid}" th:remove="tag"/> <a th:href="@{/tiwolij/works/list?order=wikidataId}"><span class="caret" /></a></th>
								<th><span th:text="#{fields.author}" th:remove="tag"/> <a th:href="@{/tiwolij/works/list?order=author}"><span class="caret" /></a></th>
								<th><span th:text="#{fields.slug}" th:remove="tag"/> <a th:href="@{/tiwolij/works/list?order=slug}"><span class="caret" /></a></th>
								<th th:text="#{fields.names}" />
								<th th:text="#{fields.quotes}" class="text-center" />
								<th th:text="#{actions}" class="text-right" />
							</tr>
						</thead>
						<tbody>
							<tr th:each="work : ${works}">
								<th th:text="'#' + ${work.id}" />
								<td><a th:unless="${#strings.isEmpty(work.wikidataId)}" target="_blank" th:href="${'https://www.wikidata.org/wiki/Q' + work.wikidataId}" th:text="${'Q' + work.wikidataId}" /></td>
								<td><a th:href="@{/tiwolij/authors/view(authorId=${work.author.id})}" th:text="${#strings.abbreviate(work.author.slug, 25)}" /></td>
								<td th:text="${#strings.abbreviate(work.slug, 25)}" />
								<td class="child-enum"><div th:each="locale : ${work.locales}" th:text="${#strings.abbreviate(locale.name, 25) + ' (' + locale.language + ')'}" /></td>
								<td class="text-center"><a th:text="#{actions.list}" th:href="@{/tiwolij/quotes/list(workId=${work.id})}" /></td>
								<td class="text-right">
									<a th:text="#{actions.view}" th:href="@{/tiwolij/works/view(workId=${work.id})}" role="button" class="btn btn-xs btn-default" />
									<a th:text="#{actions.edit}" th:href="@{/tiwolij/works/edit(workId=${work.id})}" role="button" class="btn btn-xs btn-primary" />
									<a th:text="#{actions.delete}" th:href="@{/tiwolij/works/delete(workId=${work.id})}" role="button" class="btn btn-xs btn-danger" th:onclick="'return confirm(\'' + #{all.confirm} + '\')'" />
								</td>
							</tr>
						</tbody>
					</table>
					<div th:if="${#lists.isEmpty(works)}" class="panel-body"><p th:text="#{all.empty}" class="text-danger" /></div>
				</div>
			</div>
		</section>
	</div>
	<footer th:replace="../elements/footer" />
</body>

</html>
