<!doctype html>
<html class="no-js" lang="en">

<head th:replace="../elements/header (title='List of Works Locales')"></head>

<body id="backend" class="list locales">
	<div id="wrapper">
		<div th:replace="../elements/navbar"></div>
		<div id="inner">
			<table id="list">
				<thead>
					<td>ID <a th:href="@{/tiwolij/works/locales/list?order=id}">↓</a></td>
					<td>Work Slug <a th:href="@{/tiwolij/works/locales/list?order=work}">↓</a></td>
					<td>Language <a th:href="@{/tiwolij/works/locales/list?order=language}">↓</a></td>
					<td>Name <a th:href="@{/tiwolij/works/locales/list?order=name}">↓</a></td>
					<td>Weblink</td>
					<td>Actions</td>
				</thead>
				<tr th:each="locale : ${locales}">
					<td th:text="${locale.id}"></td>
					<td>
						<a th:href="@{/tiwolij/works/edit?id=} + ${locale.work.id}" th:text="${locale.work.slug}"></a>
					</td>
					<td th:text="${locale.language}"></td>
					<td th:text="${locale.name}"></td>
					<td><a target="_blank" th:href="${locale.href}">Open</a></td>
					<td>
						<a th:href="@{/tiwolij/works/locales/edit?id=} + ${locale.id}">Edit Locale</a> |
						<a th:href="@{/tiwolij/works/locales/delete?id=} + ${locale.id}">Delete Locale</a>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div th:replace="../elements/scripts"></div>
</body>

</html>
