<!doctype html>
<html class="no-js" lang="en">

<head th:replace="../elements/header (title='Work Locale')"></head>

<body id="backend" class="edit locales">
	<div id="wrapper">
		<div th:replace="../elements/navbar"></div>
		<div id="inner">
			<form th:object="${locale}" method="post">
				<input th:disabled="${view}" type="hidden" th:field="*{id}" />
				<table id="edit">
					<tr>
						<td>Work</td>
						<td>
							<select th:disabled="${view}" th:field="*{work}">
								<option th:each="work : ${works}" th:value="${work.id}" th:text="${work.slug}" />
							</select>
						</td>
					</tr>
					<tr>
						<td>Language</td>
						<td>
							<input th:disabled="${view}" type="text" th:field="*{language}" />
						</td>
					</tr>
					<tr>
						<td>Name</td>
						<td>
							<input th:disabled="${view}" type="text" th:field="*{name}" />
						</td>
					</tr>
					<tr>
						<td>Weblink</td>
						<td>
							<input th:disabled="${view}" type="text" th:field="*{href}" />
						</td>
					</tr>
					<tr th:unless="${view}">
						<td>&nbsp;</td>
						<td>
							<button type="submit" th:formaction="@{/tiwolij/works/locales/edit}">Save</button>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>

	<div th:replace="../elements/scripts"></div>
</body>

</html>
