<!doctype html>
<html class="no-js" lang="en">

<head th:replace="../elements/header (title='Import Locales')"></head>

<body id="backend" class="edit import">
	<div id="wrapper">
		<div th:replace="../elements/navbar"></div>
		<div id="inner">
			<form method="post">
				<input type="hidden" name="id" th:value="${work.id}" />
				<table id="edit">
					<tr>
						<td>Wikidata ID</td>
						<td>
							<input disabled="disabled" type="text" th:value="${work.wikidataId}" />
						</td>
					</tr>
					<tr>
						<td>Slug</td>
						<td>
							<input disabled="disabled" type="text" th:value="${work.slug}" />
						</td>
					</tr>
					<tr th:each="label : ${labels}">
						<td>
							<input type="checkbox" name="labels[]" th:value="${label.value.languageCode}" />
						</td>
						<td>
							<table class="locale">
								<tr>
									<td>Language</td>
									<td th:text="${label.value.languageCode}"></td>
								</tr>
								<tr>
									<td>Name</td>
									<td th:text="${label.value.text}"></td>
								</tr>
								<tr>
									<td>Weblink</td>
									<td><a target="_blank" th:href="'https://' + ${label.value.languageCode} + '.wikipedia.org/wiki/' + ${#strings.replace(label.value.text, ' ', '_')}">Open</a></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>
							<button type="submit" th:formaction="@{/tiwolij/works/locales/import/}">Import</button>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>

	<div th:replace="../elements/scripts"></div>
</body>

</html>
