<!doctype html>
<html class="no-js" lang="en">

<head th:replace="../elements/header (title='View Work')" />

<body>
	<div class="container">
		<nav th:replace="../elements/navbar" />
		<section class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div th:text="${'View Work #' + work.id}" class="panel-heading" />
					<form th:object="${work}">
						<div class="panel-body form-horizontal">
							<div th:unless="${#strings.isEmpty(work.wikidataId)}" class="form-group">
								<label class="col-sm-2 control-label">Wikidata ID</label>
								<div class="col-sm-10">
									<p class="form-control-static">
										<a th:text="'Q' + *{wikidataId}" th:href="@{https://www.wikidata.org/wiki/Q} + *{wikidataId}" target="_blank" />
									</p>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Author</label>
								<div class="col-sm-10">
									<p class="form-control-static">
										<a th:text="${work.author.slug}" th:href="@{/tiwolij/authors/view(authorId=${work.author.id})}" />
									</p>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Slug</label>
								<div class="col-sm-10">
									<p th:text="*{slug}" class="form-control-static" />
								</div>
							</div>
						</div>
						<div class="panel-footer text-right">
							<a th:href="@{/tiwolij/works/edit(workId=*{id})}" role="button" class="btn btn-sm btn-primary">Edit Work</a>
							<a th:href="@{/tiwolij/works/delete(workId=*{id})}" role="button" class="btn btn-sm btn-danger" onclick="return confirm('Are You shure?')">Delete Work</a>
						</div>
					</form>
				</div>
			</div>
		</section>
		<section class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">Work Locales</div>
					<table th:unless="${#lists.isEmpty(work.locales)}" class="table table-hover">
						<thead>
							<tr>
								<th>ID</th>
								<th>Language</th>
								<th>Name</th>
								<th class="text-center">Link</th>
								<th class="text-right">Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="locale : ${work.locales}">
								<th th:text="'#' + ${locale.id}" />
								<td th:text="${locale.language}" />
								<td th:text="${locale.name}" />
								<td class="text-center"><a th:unless="${#strings.isEmpty(locale.href)}" th:href="${locale.href}" target="_blank">View</a></td>
								<td class="text-right">
									<a th:href="@{/tiwolij/works/locales/view(localeId=${locale.id})}" role="button" class="btn btn-xs btn-default">View</a>
									<a th:href="@{/tiwolij/works/locales/edit(localeId=${locale.id})}" role="button" class="btn btn-xs btn-primary">Edit</a>
									<a th:href="@{/tiwolij/works/locales/delete(localeId=${locale.id})}" role="button" class="btn btn-xs btn-danger" onclick="return confirm('Are You shure?')">Delete</a>
								</td>
							</tr>
						</tbody>
					</table>
					<div th:if="${#lists.isEmpty(work.locales)}" class="panel-body">
						<p class="text-danger">Move along, nothing to see here.</p>
					</div>
					<div class="panel-footer text-right">
						<a th:unless="${#strings.isEmpty(work.wikidataId)}" th:href="@{/tiwolij/works/locales/import(workId=${work.id})}" role="button" class="btn btn-sm btn-primary">Import Locales</a>
						<a th:href="@{/tiwolij/works/locales/create(workId=${work.id})}" role="button" class="btn btn-sm btn-success">Add Locale</a>
					</div>
				</div>
			</div>
		</section>
		<section class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">Work Quotes</div>
					<table th:unless="${#lists.isEmpty(work.quotes)}" class="table table-hover">
						<thead>
							<tr>
								<th>ID</th>
								<th>Slug</th>
								<th>Locale(s)</th>
								<th class="text-right">Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="quote : ${work.quotes}">
								<th th:text="'#' + ${quote.id}" />
								<td th:text="${quote.work.author.slug + '_' + quote.work.slug + '_' + quote.id}" />
								<td class="child-enum"><div th:each="locale : ${quote.locales}" th:text="${#strings.abbreviate(locale.corpus, 50) + ' (' + locale.language + ')'}" /></td>
								<td class="text-right">
									<a th:href="@{/tiwolij/quotes/view(quoteId=${quote.id})}" role="button" class="btn btn-xs btn-default">View</a>
									<a th:href="@{/tiwolij/quotes/edit(quoteId=${quote.id})}" role="button" class="btn btn-xs btn-primary">Edit</a>
									<a th:href="@{/tiwolij/quotes/delete(quoteId=${quote.id})}" role="button" class="btn btn-xs btn-danger" onclick="return confirm('Are You shure?')">Delete</a>
								</td>
							</tr>
						</tbody>
					</table>
					<div th:if="${#lists.isEmpty(work.quotes)}" class="panel-body">
						<p class="text-danger">Move along, nothing to see here.</p>
					</div>
					<div class="panel-footer text-right">
						<a th:href="@{/tiwolij/quotes/create(workId=${work.id})}" role="button" class="btn btn-sm btn-success">Add Quote</a>
					</div>
				</div>
			</div>
		</section>
	</div>
	<footer th:replace="../elements/footer" />
</body>

</html>
