<!doctype html>
<html class="no-js" lang="en">

<head th:replace="../elements/header (title='List of Works')"></head>

<body id="backend" class="list works">
	<div id="wrapper">
		<div th:replace="../elements/navbar"></div>
		<div id="inner">
			<table id="list">
				<thead>
					<td>ID <a th:href="@{/tiwolij/works/list?order=id}">↓</a></td>
					<td>Slug <a th:href="@{/tiwolij/authors/list?order=slug}">↓</a></td>
					<td>Author</td>
					<td>Name(s)</td>
					<td>Locales</td>
					<td>Quotes</td>
					<td>Actions</td>
				</thead>
				<tr th:each="work : ${works}">
					<td>
						<a th:href="@{/tiwolij/works/view?id=} + ${work.id}" th:text="'#' + ${work.id}"></a>
					</td>
					<td>
						<a th:href="@{/tiwolij/works/view?id=} + ${work.id}" th:text="${work.slug}"></a>
					</td>
					<td>
						<a th:href="@{/tiwolij/authors/view?id=} + ${work.author.id}" th:text="${work.author.slug}"></a>
					</td>
					<td><span th:each="locale : ${work.locales}" th:text="${locale.name}"></span></td>
					<td><a th:href="@{/tiwolij/works/locales/list?id=} + ${work.id}">List</a></td>
					<td><a th:href="@{/tiwolij/quotes/list?work=} + ${work.author.id}">List</a></td>
					<td>
						<a th:href="@{/tiwolij/works/view?id=} + ${work.id}">View</a> |
						<a th:href="@{/tiwolij/works/edit?id=} + ${work.id}">Edit</a> |
						<a th:href="@{/tiwolij/works/delete?id=} + ${work.id}">Delete</a> |
						<a th:href="@{/tiwolij/works/locales/edit?work=} + ${work.id}">Add Locale</a>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div th:replace="../elements/scripts"></div>
</body>

</html>
