<!doctype html>
<html class="no-js" lang="en">

<head th:replace="../elements/header (title=#{authors.view})" />

<body id="backend">
	<div class="container">
		<nav th:replace="../elements/navbar" />
		<section class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div th:text="#{authors.view} + ' #' + ${author.id}" class="panel-heading" />
					<form th:unless="${#strings.isEmpty(author)}" th:object="${author}" class="form-horizontal">
						<div class="panel-body">
							<div th:unless="${#strings.isEmpty(author.wikidataId)}"><div th:replace="../elements/fields :: view('wikidataId', 'Q' + *{wikidataId}, @{https://www.wikidata.org/wiki/Q} + *{wikidataId}, true)" /></div>
							<div th:replace="../elements/fields :: view('slug', *{slug}, '', false)" />
							<div th:unless="${#lists.isEmpty(author.image)}"><div th:replace="../elements/fields :: view('image', #{actions.view}, @{/image/author(id=*{id})}, true)" /></div>
							<div th:unless="${#lists.isEmpty(author.image)}"><div th:replace="../elements/fields :: view('imageAttribution', *{imageAttribution}, '', false)" /></div>
						</div>
						<div class="panel-footer text-right">
							<a th:text="#{authors.edit}" th:href="@{/tiwolij/authors/edit(authorId=*{id})}" role="button" class="btn btn-sm btn-primary" />
							<a th:text="#{authors.delete}" th:href="@{/tiwolij/authors/delete(authorId=*{id})}" role="button" class="btn btn-sm btn-danger"
								th:onclick="'return confirm(\'' + #{general.confirm} + '\')'" />
						</div>
					</form>
					<div th:if="${#strings.isEmpty(author)}" class="panel-body"><p th:text="#{general.empty}" class="text-danger" /></div>
				</div>
			</div>
		</section>
		<section class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div th:text="#{locales.author.view}" class="panel-heading" />
					<table th:unless="${#maps.isEmpty(author.locales)}" class="table table-hover">
						<thead>
							<tr>
								<th th:text="#{fields.id}" />
								<th th:text="#{fields.language}" />
								<th th:text="#{fields.name}" />
								<th th:text="#{fields.source}" class="text-center" />
								<th th:text="#{actions}" class="text-right" />
							</tr>
						</thead>
						<tbody>
							<tr th:each="locale : ${author.locales}">
								<th th:text="'#' + ${locale.value.id}" />
								<td th:text="${locale.key}" />
								<td th:text="${locale.value.name}" />
								<td class="text-center"><a th:unless="${#strings.isEmpty(locale.value.href)}" th:text="#{actions.view}" th:href="${locale.value.href}" target="_blank" /></td>
								<td class="text-right">
									<a th:text="#{actions.view}" th:href="@{/tiwolij/authors/locales/view(localeId=${locale.value.id})}" role="button" class="btn btn-xs btn-default" />
									<a th:text="#{actions.edit}" th:href="@{/tiwolij/authors/locales/edit(localeId=${locale.value.id})}" role="button" class="btn btn-xs btn-primary" />
									<a th:text="#{actions.delete}" th:href="@{/tiwolij/authors/locales/delete(localeId=${locale.value.id})}" role="button" class="btn btn-xs btn-danger"
										th:onclick="'return confirm(\'' + #{general.confirm} + '\')'" />
								</td>
							</tr>
						</tbody>
					</table>
					<div th:if="${#maps.isEmpty(author.locales)}" class="panel-body"><p th:text="#{general.empty}" class="text-danger" /></div>
					<div class="panel-footer text-right">
						<a th:unless="${#strings.isEmpty(author.wikidataId)}" th:href="@{/tiwolij/authors/locales/import(authorId=${author.id})}"
							th:text="#{locales.import}" role="button" class="btn btn-sm btn-primary" />
						<a th:text="#{locales.create}" th:href="@{/tiwolij/authors/locales/create(authorId=${author.id})}" role="button" class="btn btn-sm btn-success" />
					</div>
				</div>
			</div>
		</section>
		<section class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div th:text="#{authors.works}" class="panel-heading" />
					<table th:unless="${#lists.isEmpty(author.works)}" class="table table-hover">
						<thead>
							<tr>
								<th th:text="#{fields.id}" />
								<th th:text="#{fields.wikidataId}" />
								<th th:text="#{fields.slug}" />
								<th th:text="#{actions}" class="text-right" />
							</tr>
						</thead>
						<tbody>
							<tr th:each="work : ${author.works}">
								<th th:text="'#' + ${work.id}" />
								<td><a th:unless="${#strings.isEmpty(work.wikidataId)}" target="_blank" th:href="'https://www.wikidata.org/wiki/Q' + ${work.wikidataId}" th:text="'Q' + ${work.wikidataId}" /></td>
								<td th:text="${work.slug}" />
								<td class="text-right">
									<a th:text="#{actions.view}" th:href="@{/tiwolij/works/view(workId=${work.id})}" role="button" class="btn btn-xs btn-default" />
									<a th:text="#{actions.edit}" th:href="@{/tiwolij/works/edit(workId=${work.id})}" role="button" class="btn btn-xs btn-primary" />
									<a th:text="#{actions.delete}" th:href="@{/tiwolij/works/delete(workId=${work.id})}" role="button" class="btn btn-xs btn-danger"
										th:onclick="'return confirm(\'' + #{general.confirm} + '\')'" />
								</td>
							</tr>
						</tbody>
					</table>
					<div th:if="${#lists.isEmpty(author.works)}" class="panel-body"><p th:text="#{general.empty}" class="text-danger" /></div>
					<div class="panel-footer text-right">
						<a th:text="#{works.create}" th:href="@{/tiwolij/works/create(authorId=${author.id})}" role="button" class="btn btn-sm btn-success" />
					</div>
				</div>
			</div>
		</section>
	</div>
	<footer th:replace="../elements/footer" />
</body>

</html>
