<!doctype html>
<html class="no-js" lang="en">

<head th:replace="../elements/header (title=#{authors.edit})" />

<body id="backend">
	<div class="container">
		<nav th:replace="../elements/navbar" />
		<section class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div th:text="#{authors.edit} + ' #' + ${author.id}" class="panel-heading" />
					<form th:object="${author}" class="form-horizontal" method="post">
						<div class="panel-body">
							<div th:unless="*{#strings.isEmpty(wikidataId)}"><div th:replace="../elements/fields :: view('wikidataId', *{wikidataId}, @{https://www.wikidata.org/wiki/Q} + *{wikidataId}, true)" /></div>
							<div th:replace="../elements/fields :: putin('slug', true, 'text', 255, '', 'Max_Scheler')" />
							<div th:replace="../elements/fields :: putin('image', false, 'url', 255, '', 'http://www.maxscheler.com/images/Scheler_3_1.jpg')" />
							<div th:replace="../elements/fields :: putin('imageAttribution', false, 'text', 255, '', 'CC-PD-Mark')" />
						</div>
						<div class="panel-footer text-right">
							<input th:field="*{id}" type="hidden" />
							<input th:field="*{wikidataId}" type="hidden" />
							<button th:text="#{authors.edit}" th:formaction="@{/tiwolij/authors/edit}" type="submit" class="btn btn-sm btn-success" />
							<a th:text="#{authors.delete}" th:href="@{/tiwolij/authors/delete(authorId=*{id})}" role="button" class="btn btn-sm btn-danger"
								th:onclick="'return confirm(\'' + #{general.confirm} + '\')'" />
						</div>
					</form>
				</div>
			</div>
		</section>
	</div>
	<footer th:replace="../elements/footer" />
</body>

</html>
