<!doctype html>
<html class="no-js" lang="en">

<head th:replace="../elements/header (title=#{locales.author.list})" />

<body id="backend">
	<div class="container">
		<nav th:replace="../elements/navbar" />
		<section class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div th:text="#{locales.author.list}" class="panel-heading" />
					<table th:unless="${#lists.isEmpty(locales)}" class="table table-hover">
						<thead>
							<tr>
								<th><span th:text="#{fields.id}" th:remove="tag"/> <a th:href="@{/tiwolij/authors/locales/list?sort=id}"><span class="caret" /></a></th>
								<th><span th:text="#{fields.author}" th:remove="tag"/> <a th:href="@{/tiwolij/authors/locales/list?sort=author}"><span class="caret" /></a></th>
								<th><span th:text="#{fields.language}" th:remove="tag"/> <a th:href="@{/tiwolij/authors/locales/list?sort=language}"><span class="caret" /></a></th>
								<th><span th:text="#{fields.name}" th:remove="tag"/> <a th:href="@{/tiwolij/authors/locales/list?sort=name}"><span class="caret" /></a></th>
								<th th:text="#{fields.source}" class="text-center" />
								<th th:text="#{actions}" class="text-right" />
							</tr>
						</thead>
						<tbody>
							<tr th:each="locale : ${locales}">
								<th th:text="'#' + ${locale.id}" />
								<td><a th:href="@{/tiwolij/authors/view(authorId=${locale.author.id})}" th:text="${locale.author.slug}" /></td>
								<td th:text="${locale.language}" />
								<td th:text="${locale.name}" />
								<td class="text-center"><a th:unless="${#strings.isEmpty(locale.href)}" th:text="#{actions.view}" th:href="${locale.href}" target="_blank" /></td>
								<td class="text-right">
									<a th:text="#{actions.view}" th:href="@{/tiwolij/authors/locales/view(localeId=${locale.id})}" role="button" class="btn btn-xs btn-default" />
									<a th:text="#{actions.edit}" th:href="@{/tiwolij/authors/locales/edit(localeId=${locale.id})}" role="button" class="btn btn-xs btn-primary" />
									<a th:text="#{actions.delete}" th:href="@{/tiwolij/authors/locales/delete(localeId=${locale.id})}" role="button" class="btn btn-xs btn-danger" th:onclick="'return confirm(\'' + #{general.confirm} + '\')'" />
								</td>
							</tr>
						</tbody>
					</table>
					<div th:if="${#lists.isEmpty(locales)}" class="panel-body"><p th:text="#{general.empty}" class="text-danger" /></div>
				</div>
				<div th:unless="${#lists.isEmpty(locales)}" th:replace="../elements/paginate (page=${locales})" />
			</div>
		</section>
	</div>
	<footer th:replace="../elements/footer" />
</body>

</html>
