<!doctype html>
<html class="no-js" lang="en">

<head th:replace="../elements/header (title=#{locales.author.edit})" />

<body id="backend">
	<div class="container">
		<nav th:replace="../elements/navbar" />
		<section class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div th:text="#{locales.author.edit} + ' #' + ${locale.id}" class="panel-heading" />
					<form th:object="${locale}" class="form-horizontal" method="post">
						<div class="panel-body">
							<div th:replace="../elements/fields :: pulldown('author', true, ${authors}, 'id', 'slug')" />
							<div th:replace="../elements/fields :: putin('language', true, 'text', 2, '^[a-z]{2}$', 'de')" />
							<div th:replace="../elements/fields :: putin('name', true, 'text', 255, '', 'Max Scheler')" />
							<div th:replace="../elements/fields :: putin('href', false, 'url', 255, '', 'http://www.maxscheler.com/')" />
						</div>
						<div class="panel-footer text-right">
							<input th:field="*{id}" type="hidden" />
							<button th:text="#{locales.author.edit}" th:formaction="@{/tiwolij/authors/locales/edit}" type="submit" class="btn btn-sm btn-success" />
							<a th:text="#{locales.author.delete}" th:href="@{/tiwolij/authors/locales/delete(localeId=*{id})}" role="button" class="btn btn-sm btn-danger"
								th:onclick="'return confirm(\'' + #{general.confirm} + '\')'" />
						</div>
					</form>
					</div>
				</div>
		</section>
		</div>
		<footer th:replace="../elements/footer" />
</body>

</html>
